<!-- Tab-bar for Mobile-View -->
<div class="grid align-items-center justify-content-center p-2 bg-black-alpha-10 md:hidden sticky">
  <div class="col-12 sm:col-12">
    <div class="flex justify-content-between">
      <p-button icon="pi pi-house" [rounded]="true" [text]="true" (click)="navigateTo('/')">
        <ng-template pTemplate="icon">
          <i class="pi pi-home"></i>
        </ng-template>
      </p-button>

      <p-button icon="pi pi-search" [rounded]="true" [text]="true" (click)="navigateTo('/search')">
        <ng-template pTemplate="icon">
          <i class="pi pi-search"></i>
        </ng-template>
      </p-button>

      <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="navigateTo('/create-event')">
        <ng-template pTemplate="icon">
          <i class="pi pi-plus"></i>
        </ng-template>
      </p-button>

      <p-button icon="pi pi-circle" [rounded]="true" [text]="true" (click)="navigateTo('/my-events')">
        <ng-template pTemplate="icon">
          <i class="pi pi-circle"></i>
        </ng-template>
      </p-button>

      <p-button icon="pi pi-user" [rounded]="true" [text]="true" (click)="navigateTo('/my-space')">
        <ng-template pTemplate="icon">
          <i class="pi pi-user"></i>
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
<div class="grid">
  <!-- Sidebar for Desktop-View -->
  <div class="col-12 bg-black-alpha-20 hidden sm:hidden md:flex flex-column align-items-start p-3 h-full">
    <p-button label="Startseite" [rounded]="false" [text]="true" class="w-full mb-2" (click)="navigateTo('/')"/>
    <p-button label="Event suchen" [rounded]="false" [text]="true" class="w-full mb-2" (click)="navigateTo('/search')"/>
    <p-button label="Event erstellen" [rounded]="false" [text]="true" class="w-full mb-2" (click)="navigateTo('/create-event')"/>
    <p-button label="Meine Events" [rounded]="false" [text]="true" class="w-full mb-2" (click)="navigateTo('/my-events')"/>
    <p-button label="Mein Bereich" [rounded]="false" [text]="true" class="w-full" (click)="navigateTo('my-space')"/>
  </div>

</div>

