<div class="flex flex-column align-items-center p-4 relative">
  <!-- Profilbild mit Icons -->
  <div class="flex align-items-center justify-content-center">
    <img
      src="images/userImg.png"
      alt="Profilbild"
      class="border-circle shadow-2 -mb-5 z-3"
      style="width: 150px; height: 150px; border: 4px solid white" />
    @if (isUser) {
      <p-button raised severity="info" class="mt-5 ml-2">
        <ng-template pTemplate="icon">
          <rmx-icon
            name="edit-2-line"
            class="cursor-pointer"
            style="font-size: 24px"
            (click)="toggleEditMode()" />
        </ng-template>
      </p-button>
    }
  </div>

  <!-- User-Details !editmode -->
  @if (profileData$ | async; as data) {
    @if (!editMode) {
      <p-card class="mt-0 col-12 lg:col-6">
        <div class="w-full text-left mt-4">
          <h3 class="mb-0">
            {{ data.firstName }}, {{ data.age }}
            <span class="text-sm ml-2 text-gray-50">{{ data.pronouns }}</span>
          </h3>
          <p class="text-secondary mt-0 mb-0">&#64;{{ data.username }}</p>
          <div class="flex align-items-center mt-4">
            <rmx-icon name="map-pin-2-line" class="mr-1"></rmx-icon>
            <p>{{ data.city || 'profilePage.cardText.city' | transloco }}</p>
          </div>
        </div>
        <div class="w-full mt-4 text-left">
          <h4 class="mb-0">
            {{ 'profilePage.cardText.aboutMe' | transloco }}
          </h4>
          <p
            class="mb-2 mt-2 pt-0"
            style="word-wrap: break-word; white-space: pre-wrap">
            {{ data.profileText || 'Keine Beschreibung' }}
          </p>
        </div>
        <div class="pt-3">
          <span>
            @for (tag of data.tags; track $index) {
              <p-tag
                [value]="tag"
                severity="secondary"
                [rounded]="true"
                class="mr-1">
                <ng-template pTemplate="icon">
                  <rmx-icon
                    name="price-tag-3-line"
                    style="width: 16px; height: 16px" />
                </ng-template>
              </p-tag>
            }
          </span>
        </div>
      </p-card>
    }
  }

  <!-- Edit Mode -->
  @if (editMode) {
    <p-card class="col-12 lg:col-6">
      <form (ngSubmit)="submitEdit()" [formGroup]="form">
        <div class="field w-full mb-4">
          <p-floatLabel>
            <input
              id="pronom"
              formControlName="pronouns"
              maxlength="20"
              class="w-full"
              pInputText />
            <label for="pronom">{{
              'profilePage.updateText.pronouns' | transloco
            }}</label>
          </p-floatLabel>
        </div>
        <div class="field w-full mb-4">
          <p-floatLabel>
            <textarea
              rows="5"
              cols="20"
              pInputTextarea
              maxlength="2000"
              formControlName="profileText"
              id="profileText"
              class="w-full"></textarea>
            <label for="profileText">{{
              'profilePage.updateText.desc' | transloco
            }}</label>
          </p-floatLabel>
        </div>
        <div class="justify-content-center mb-4">
          <p-floatLabel>
            <p-chips id="chips" [(ngModel)]="values" [max]="max" />
            <label for="chips">Chips</label>
          </p-floatLabel>
        </div>
        <div class="flex justify-content-end mt-3">
          <p-button
            raised
            [label]="'profilePage.updateText.saveButton' | transloco"
            type="submit"
            severity="success"
            class="p-button-raised"></p-button>
        </div>
      </form>
    </p-card>
  }
</div>
