// Theme Specific Variables

$orange: #ee8418;
$orange-20: #cc7630;
$orange-40: #a6632c;
$blue: #4989bb;
$blue-20: #336288;
$blue-40: #2c506c;
$dark-grey: #333333;
$dark-grey-20: #535353;
$dark-grey-40: #737373;
$normal-grey: #d3d3d3;
$light-grey: #f4f4f4;
$white: #ffffff;
$black: #000000;
$red: #d34e43;

$primaryColor: $dark-grey;
$primaryDarkColor: $dark-grey-20;
$primaryDarkerColor: $dark-grey-40;
$secondaryColor: $orange;
$secondaryDarkColor: $orange-20;
$secondaryDarkerColor: $orange-40;

$successColor: $blue;
$successDarkColor: $blue-20;
$successDarkerColor: $blue-40;

$errorColor: $red;

/* special colors */
$errorColor: $red;
$myFocusOutline: $blue;
/* text */
$primaryTextColor: $light-grey; //on buttons etc
$text-color: $dark-grey;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-semi-bold: 600;
$font-family: 'Proxima Nova', sans-serif;

// Mandatory Designer Variables
@import 'variables/general';
@import 'variables/form';
@import 'variables/button';
@import 'variables/panel';
@import 'variables/data';
@import 'variables/overlay';
@import 'variables/message';
@import 'variables/menu';
@import 'variables/media';
@import 'variables/misc';

:root {
  font-family: #{$font-family};
  --font-family: #{$font-family};

  // Surface colors
  --surface-a: #{$light-grey} !important;
  --surface-b: #{$light-grey} !important;
  --surface-c: #{$light-grey} !important;
  --surface-d: #{$light-grey} !important;
  --surface-e: #{$light-grey} !important;
  --surface-f: #{$light-grey} !important;
  --surface-0: #{$light-grey} !important;
  --surface-50: #{$light-grey} !important;
  --surface-100: #{$light-grey} !important;
  --surface-200: #{$light-grey} !important;
  --surface-300: #{$light-grey} !important;
  --surface-400: #{$light-grey} !important;
  --surface-500: #{$light-grey} !important;
  --surface-600: #{$light-grey} !important;
  --surface-700: #{$light-grey} !important;
  --surface-800: #{$light-grey} !important;
  --surface-900: #{$light-grey} !important;
  --gray-50:#{$normal-grey} !important;

  // Text colors
  --text-color: #{$dark-grey} !important;
  --text-color-secondary: #{$normal-grey} !important;

  // Primary colors
  --primary-color: #{$blue} !important;
  --primary-color-text: #{$light-grey} !important;
  --secondary-color: #{$orange} !important;

  // Padding, spacing, and radius
  --content-padding: #{$panelContentPadding} !important;
  --inline-spacing: #{$inlineSpacing} !important;
  --border-radius: #{$borderRadius} !important;

  //card
  --card-title-fontSize: h2 !important;
  --card-title-font-weight: h2 !important;
  --card-subtitle-color: var(--text-color-secondary) !important;

  // Background and overlay surfaces
  --surface-ground: #{$light-grey} !important;
  --surface-section: #{$light-grey} !important;
  --surface-card: #{$light-grey} !important;
  --surface-overlay: #{$light-grey} !important;
  --surface-border: #{$normal-grey} !important;
  --surface-hover: #e9ecef !important;

  // Additional styling properties
  --maskbg: #{$maskBg} !important;
  --highlight-bg: #{$light-grey} !important;
  --highlight-text-color: #{$highlightTextColor} !important;
  --focus-ring: #{$blue-20} !important;
  --focus-shadow: lighten(#{$blue-20}, 60%) !important;

  //menu

  color-scheme: light;
}

body {
  background: var(--surface-ground);
}
//headings

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  font-family: $font-family;
  color: $text-color;
}

h1 {
  font-weight: $font-weight-bold;
  font-size: 24px;
}

h2 {
  font-weight: $font-weight-semi-bold;
  font-size: 20px;
}

h3 {
  font-weight: $font-weight-semi-bold;
  font-size: 20px;
}

/* Buttons */

.p-button {
  font-weight: $font-weight-semi-bold;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: var(
    --secondary-color
  ); /* Set background color for checked state */
  border: none;
}

// Checked state
.p-radiobutton .p-radiobutton-box.p-highlight {
  background-color: var(--secondary-color); // Background color for checked
  border-color: var(--secondary-color); // Border color for checked
  color: $primaryTextColor; // Icon color inside the checked radio
}

/* input */

.p-inputtext {
  &:disabled {
    background: $normal-grey;
  }
}

/* tag */

.p-tag-secondary {
  background-color: var(--secondary-color);
}

/* menues */

// steps
.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: $secondaryColor; //active item background
}

// tab

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: $secondaryColor;
  color: $secondaryColor;
}

.p-tabmenu:hover {
  border-color: $normal-grey;
  color: $normal-grey;
}
