// Theme Specific Variables


$orange: #EE8418;
$orange-20: #cc7630;
$orange-40: #a6632c;
$blue: #4989BB;
$blue-20: #336288;
$blue-40: #2c506c;
$dark-grey: #333333;
$dark-grey-20: #535353;
$dark-grey-40: #737373;
$normal-grey: #D3D3D3;
$light-grey: #F4F4F4;
$white: #FFFFFF;
$black: #000000;
$red: #d34e43;


$primaryColor: $dark-grey;
$primaryDarkColor: $dark-grey-20;
$primaryDarkerColor: $dark-grey-40;
$secondaryColor: $orange;
$secondaryDarkColor: $orange-20;
$secondaryDarkerColor: $orange-40;

$successColor: $blue;
$successDarkColor: $blue-20;
$successDarkerColor: $blue-40;


$errorColor: $red;

/* special colors */
$errorColor: $red;
$myFocusOutline: $blue;
/* text */
$primaryTextColor: $light-grey; //on buttons etc
$text-color: $dark-grey;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-semi-bold: 600;
$font-family: 'Proxima Nova', sans-serif;


// Mandatory Designer Variables
@import 'variables/general';
@import 'variables/form';
@import 'variables/button';
@import 'variables/panel';
@import 'variables/data';
@import 'variables/overlay';
@import 'variables/message';
@import 'variables/menu';
@import 'variables/media';
@import 'variables/misc';

:root {
    font-family: #{$font-family};
    --font-family: #{$font-family};

    // Surface colors
    --surface-a: #{$light-grey};
    --surface-b: #{$light-grey};
    --surface-c: #{$light-grey};
    --surface-d: #{$light-grey};
    --surface-e: #{$light-grey};
    --surface-f: #{$light-grey};
    --surface-0: #{$light-grey};
    --surface-50: #{$light-grey};
    --surface-100: #{$light-grey};
    --surface-200: #{$light-grey};
    --surface-300: #{$light-grey};
    --surface-400: #{$light-grey};
    --surface-500: #{$light-grey};
    --surface-600: #{$light-grey};
    --surface-700: #{$light-grey};
    --surface-800: #{$light-grey};
    --surface-900: #{$light-grey};

    // Text colors
    --text-color: #{$dark-grey};
    --text-color-secondary: #{$normal-grey};

    // Primary colors
    --primary-color: #{$blue};
    --primary-color-text: #{$light-grey};
    --secondary-color: #{$orange};

    // Padding, spacing, and radius
    --content-padding: #{$panelContentPadding};
    --inline-spacing: #{$inlineSpacing};
    --border-radius: #{$borderRadius};

    //card
    --card-title-fontSize: h2;
    --card-title-font-weight: h2;
    --card-subtitle-color: var(--text-color-secondary);

    // Background and overlay surfaces
    --surface-ground: #{$light-grey};
    --surface-section: #{$light-grey};
    --surface-card: #{$white};
    --surface-overlay: #{$white};
    --surface-border: #{$normal-grey};
    --surface-hover: #e9ecef;

    // Additional styling properties
    --maskbg: #{$maskBg};
    --highlight-bg: #{$light-grey};
    --highlight-text-color: #{$highlightTextColor};
    --focus-ring: #{$blue-20};
    --focus-shadow: lighten(#{$blue-20}, 60%);

    color-scheme: light;
}

//headings

h1, h2, h3, h4, h5, h6, p, body {
  font-family: $font-family;
  color: $text-color;
}

h1 {
  font-weight: $font-weight-bold;
  font-size: 24px;
}

h2 {
  font-weight: $font-weight-semi-bold;
  font-size: 20px;
}

h3 {
  font-weight: $font-weight-semi-bold;
  font-size: 20px;
}

/* Buttons */

.p-button {
  font-weight: $font-weight-semi-bold;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: var(--secondary-color); /* Set background color for checked state */
  border: none;
}

// Checked state
.p-radiobutton .p-radiobutton-box.p-highlight {
  background-color: var(--secondary-color); // Background color for checked
  border-color: var(--secondary-color); // Border color for checked
  color: $primaryTextColor; // Icon color inside the checked radio
}


/* input */

.p-inputtext {
  &:disabled {
    background: $normal-grey;
  }
}

/* tag */

.p-tag-secondary {
  background-color: var(--secondary-color);
}







