// Theme Specific Variables

$orange: #ee8418;
$orange-20: #cc7630;
$orange-40: #a6632c;
$blue: #4989bb;
$blue-20: #336288;
$blue-40: #2c506c;
$dark-grey: #333333;
$dark-grey-20: #434343;
$dark-grey-40: #767676;
$normal-grey: #d1d1d1;
$light-grey: #fafafa;
$white: #ffffff;
$black: #000000;
$red: #d34e43;

$primaryColor: $dark-grey;
$primaryDarkColor: $dark-grey-20;
$primaryDarkerColor: $dark-grey-40;
$secondaryColor: $orange;
$secondaryDarkColor: $orange-20;
$secondaryDarkerColor: $orange-40;

$successColor: $blue;
$successDarkColor: $blue-20;
$successDarkerColor: $blue-40;

$errorColor: $red;

/* special colors */
$errorColor: $red;
$myFocusOutline: $blue;
/* text */
$primaryTextColor: $light-grey; //on buttons etc
$text-color: $dark-grey;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-semi-bold: 600;
$font-family-regular: 'Proxima Nova Rg', sans-serif;
$font-family-semi-bold: 'Proxima Nova Lt', sans-serif;
$font-family-black: 'Proxima Nova Bl', sans-serif;
$font-family-bold: 'Proxima Nova Th', sans-serif;

// Mandatory Designer Variables
@import 'variables/general';
@import 'variables/form';
@import 'variables/button';
@import 'variables/panel';
@import 'variables/data';
@import 'variables/overlay';
@import 'variables/message';
@import 'variables/menu';
@import 'variables/media';
@import 'variables/misc';

:root {
  font-family: #{$font-family-regular};
  --font-family: #{$font-family-regular};

  // Surface colors
  --surface-a: #{$light-grey} !important;
  --surface-b: #{$light-grey} !important;
  --surface-c: #{$light-grey} !important;
  --surface-d: #{$light-grey} !important;
  --surface-e: #{$light-grey} !important;
  --surface-f: #{$light-grey} !important;
  --surface-0: #{$light-grey} !important;
  --surface-50: #{$light-grey} !important;
  --surface-100: #{$light-grey} !important;
  --surface-200: #{$light-grey} !important;
  --surface-300: #{$light-grey} !important;
  --surface-400: #{$light-grey} !important;
  --surface-500: #{$light-grey} !important;
  --surface-600: #{$light-grey} !important;
  --surface-700: #{$light-grey} !important;
  --surface-800: #{$light-grey} !important;
  --surface-900: #{$light-grey} !important;
  --gray-50: #{$normal-grey} !important;
  --gray-600: #{$normal-grey} !important;
  --gray-700: #{$primaryDarkerColor} !important;
  --gray-900: #{$primaryColor} !important;
  --red-900: #{$red} !important;
  --orange-900: #{$orange} !important;

  --gray-50: #{$light-grey};

  // Text colors
  --text-color: #{$dark-grey} !important;
  --text-color-secondary: #{$orange} !important;

  // Primary colors
  --primary-color: #{$dark-grey} !important;
  --primary-color-text: #{$light-grey} !important;
  --secondary-color: #{$orange} !important;
  --white: #{$white};

  // Padding, spacing, and radius
  --content-padding: #{$panelContentPadding} !important;
  --inline-spacing: #{$inlineSpacing} !important;
  --border-radius: #{$borderRadius} !important;

  //card
  --card-title-fontSize: h2 !important;
  --card-title-font-weight: h2 !important;
  --card-subtitle-color: var(--text-color-secondary) !important;

  // Background and overlay surfaces
  --surface-ground: #{$light-grey} !important;
  --surface-section: #{$light-grey} !important;
  --surface-card: #{$light-grey} !important;
  --surface-overlay: #{$light-grey} !important;
  --surface-border: #{$normal-grey} !important;
  --surface-hover: #e9ecef !important;

  // Additional styling properties
  --maskbg: #{$maskBg} !important;
  --highlight-bg: #{$light-grey} !important;
  --highlight-text-color: #{$highlightTextColor} !important;
  --focus-ring: #{$blue-20} !important;
  --focus-shadow: lighten(#{$blue-20}, 60%) !important;

  //menu

  color-scheme: light;

  //card
  --card-shadow: $cardShadow;
  --card-color: $panelContentTextColor;
  --card-background: $panelContentBg;
  --card-border-radius: $borderRadius;
}

.custom-card-container {
  background: $panelContentBg;
  color: $panelContentTextColor;
  box-shadow: $cardShadow;
  border-radius: $borderRadius;
}

body {
  background: var(--surface-ground);
}
//headings

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  font-family: $font-family-regular;
  color: $text-color;
}

h1 {
  font-family: $font-family-black;
  font-size: 26px;
}

h2 {
  font-family: $font-family-bold;
  font-size: 24px;
}

h3 {
  font-family: $font-family-semi-bold;
  font-size: 24px;
}

h4 {
  font-family: $font-family-semi-bold;
  font-size: 22px;
}

h5 {
  font-family: $font-family-semi-bold;
  font-size: 20px;
}

h6 {
  font-family: $font-family-semi-bold;
  font-size: 18px;
}
/* Buttons */

.p-button {
  font-weight: $font-weight-semi-bold;
  transition: none !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: var(
    --secondary-color
  ); /* Set background color for checked state */
  border: none;
}

.p-calendar .p-datepicker-trigger {
  background-color: $secondaryColor;
}

// Checked state
.p-radiobutton .p-radiobutton-box.p-highlight {
  background-color: var(--secondary-color); // Background color for checked
  border-color: var(--secondary-color); // Border color for checked
  color: $primaryTextColor; // Icon color inside the checked radio
}

.p-checkbox .p-highlight {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* input */

.p-inputtext {
  &:disabled {
    background: $normal-grey;
  }
}

.p-float-label {
  margin-top: 1.8em;
}

/* tag */

.p-tag-secondary {
  background-color: var(--secondary-color);
}

/* menues */

// steps

.p-steps {
  background: $white !important;
}

.p-steps .p-steps-item:before {
  border-top: none;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: $secondaryColor; //active item background
}

.p-steps .p-steps-item .p-steps-number {
  background: $light-grey; //active item background
}

// tab

.p-tabmenu {
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
}

/* Highlighted tab styling */
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: $secondaryColor;
  color: $secondaryColor;
}

/* Ensure no spacing around the parent UL */
.p-tabmenu .p-tabmenu-nav {
  display: flex; /* Use flexbox for equal distribution */
  padding: 0;
  margin: 0; /* Remove any margins */
  list-style: none; /* Ensure no bullets or default list styling */
  width: 100%;
  justify-content: center;
}

/* Set each LI to take up equal width */
.p-tabmenu .p-tabmenu-nav li {
  flex: 1; /* Distribute space equally among all list items */
  justify-content: center;
  margin: 0;
  padding: 0;
}

.p-tabmenu .p-tabmenu-nav .p-menuitem-link {
  width: 100%;
  color: $primaryColor;
}

.p-tabmenu .p-tabmenu-nav li a {
  justify-content: center;
}

/* Highlighted tab styling */
.p-tabmenu .p-tabmenu-nav li.p-highlight .p-menuitem-link {
  color: $secondaryColor; /* Active color */
  border-bottom: 2px solid $secondaryColor; /* Add visual indication for active tab */
}

// confirm dialogue

.p-confirm-dialog-accept {
  background-color: $successColor;
}
