
<div class="container content">

  <div class="flex justify-content-between align-items-center">
    <h2 class="">{{ 'eventDetailPageComponent.requests.title' | transloco }}</h2>
    <span class="color-secondary">
      {{ eventRequests.length }}
    </span>
  </div>
  @for (r of this.eventRequests; track r) {
    <p-card
      class="p-3 cursor-pointer"
      [routerLink]="['/profile/' + r.user.id]">
      <div class="flex align-items-center pr-3">
        <img
          src="https://via.placeholder.com/100"
          alt="{{ r.user.username }}-profile-picture"
          class="border-circle"
          style="width: 70px; height: 70px" />
        <div class="flex flex-column ml-3 flex-grow-1">
          <div>
            <h3 class="mt-0 mb-0">{{ r.user.firstName }}, {{ r.user.age }}</h3>
            <p class="text-secondary mt-0 mb-0">&#64;{{ r.user.username }}</p>
          </div>
        </div>

        <div class="flex align-items-center gap-2">
          <p-button [raised]="true" (onClick)="denyRequest(r.user.username, r.id, $event)">
            <ng-template pTemplate="icon">
              <rmx-icon
                style="width: 16px; height: 16px"
                name="close-line"></rmx-icon>
            </ng-template>
          </p-button>
          <p-button [raised]="true" severity="success" (onClick)="acceptRequest(r.user.username, r.id, $event)">
            <ng-template pTemplate="icon">
              <rmx-icon
                style="width: 16px; height: 16px"
                name="check-line"></rmx-icon>
            </ng-template>
          </p-button>
          <rmx-icon
            name="arrow-right-s-line"
            style="height: 26px; width: 26px"
            class="">
          </rmx-icon>
        </div>
      </div>
    </p-card>
  }
</div>

