<div class="mt-6 border-bottom-2 border-gray-50 z-4">
  <section class="flex flex-column gap-3 mb-4">
    <div class="flex align-items-center justify-content-between w-full">
      <div
        [ngClass]="{ 'md:hidden': !currentUrl?.includes('/create-event') }"
        class="align-items-center">
        @if (currentUrl !== '/') {
          <p-button
            [text]="true"
            severity="primary"
            (click)="backToHome()"
            class="mr-3">
            <ng-template pTemplate="icon">
              <rmx-icon
                style="width: 24px; height: 24px"
                name="arrow-left-s-line"></rmx-icon>
            </ng-template>
          </p-button>
        }
      </div>

      <div class="flex-grow-1 text-center">
        @if (currentUrl?.includes('/my-space')) {
          <h1 class="m-0">{{ 'headerComponent.mySpace' | transloco }}</h1>
        } @else if (currentUrl?.includes('/my-events')) {
          <h1 class="m-0">{{ 'headerComponent.myEvents' | transloco }}</h1>
        } @else if (currentUrl?.includes('/create-event')) {
          <h1 class="m-0">{{ 'headerComponent.createEvent' | transloco }}</h1>
        } @else if (currentUrl?.includes('/search')) {
          <h1 class="m-0">{{ 'headerComponent.search' | transloco }}</h1>
        } @else if (currentUrl == '/') {
          <p-image
            src="images/logo_full_dark.svg"
            width="250"
            alt="Connect-U Logo" />
        }
      </div>
      <div style="width: 24px"></div>
    </div>
  </section>
</div>
