<div class="flex flex-column">
  <!-- Chat Messages -->
  <div #chatContainer class="chat-container overflow-scroll flex-grow-1">
    <div class="justify-content-center py-2">
      @if (messages$ | async; as Messages) {
        @if (Messages.readMessages.length || Messages.unreadMessages.length) {
          @if (Messages.readMessages) {
            @for (message of Messages.readMessages; track message.id) {
              <div
                class="col py-0 px-1 flex content my-2"
                [ngClass]="{
                  'justify-content-end': message.writer.isUser,
                  'justify-content-start': !message.writer.isUser,
                }">
                <app-event-message [message]="message"></app-event-message>
              </div>
            }
          }
          @if (Messages.unreadMessages.length) {
            <div class="unread-messages text-center p-1 my-1 align-items-center">
              {{ Messages.unreadMessages.length }}
              {{ 'eventChatPage.unreadMessages' | transloco }}
            </div>
            @for (message of Messages.unreadMessages; track message.id) {
              <div
                class="col py-0 px-1 flex content my-2"
                [ngClass]="{
                  'justify-content-end': message.writer.isUser,
                  'justify-content-start': !message.writer.isUser,
                }">
                <app-event-message [message]="message"></app-event-message>
              </div>
            }
          }
        } @else {
          <div class="top-auto flex flex-column align-items-center text-center">
            <h3 class="text-lg font-bold mb-2">
              {{ 'eventChatPage.no-messages' | transloco }}
            </h3>
          </div>
        }
      } @else {
        <!-- Skeleton Loading -->
        <p-skeleton height="3rem" class="mb-2"></p-skeleton>
        <p-skeleton height="3rem" class="mb-2"></p-skeleton>
        <p-skeleton height="3rem" class="mb-2"></p-skeleton>
      }
    </div>
  </div>

  <!-- Input Field -->
  <div class="flex bg-white p-1 align-items-center justify-content-center sticky bottom-0">
    <p-inputGroup class="w-full max-w-30rem md:mb-5">
      <!-- Input Text -->
      <input
        id="message"
        type="text"
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
        autocomplete="off"
        pInputText
        placeholder="{{'eventChatPage.placeholder-input' | transloco}}"
        class="w-full"
      />
      <!-- Send Button -->
      <p-button [raised]="true" severity="success" (onClick)="sendMessage()">
        <ng-template pTemplate="icon">
          <rmx-icon
            style="width: 16px; height: 16px"
            name="check-line"
          ></rmx-icon>
        </ng-template>
      </p-button>
    </p-inputGroup>
  </div>
</div>
