<div class="content pFocusTrap mt-5">
  <div class="p-grid p-fluid column-gap-3">
    <div class="p-col-12 p-md-6 field flex flex-wrap gap-3 lg:gap-8 align-items-center justify-content-center">
      <div class="flex align-items-center">
        <p-radioButton
          name="event-type"
          value="0"
          [(ngModel)]="eventType"
          id="type-0"
          variant="filled" />
        <label for="type-0" class="ml-2">
          Public
        </label>
      </div>
      <div class="flex align-items-center">
        <p-radioButton
          name="event-type"
          value="1"
          [(ngModel)]="eventType"
          id="type-1"
          variant="filled" />
        <label for="type-1" class="ml-2">
          Semi-Public
        </label>
      </div>
      <div class="flex align-items-center">
        <p-radioButton
          name="event-type"
          value="2"
          [(ngModel)]="eventType"
          id="type-2"
          variant="filled" />
        <label for="type-2" class="ml-2">
          Private
        </label>
      </div>
    </div>

    <div class="p-col-12 p-md-6 field">
      <p-floatLabel>
        <input
          id="event-title"
          type="text"
          required
          pInputText
          [(ngModel)]="eventTitle" />
        <label for="event-title">Title</label>
      </p-floatLabel>
    </div>

    <div class="p-col-12 p-md-6 field">
      <p-floatLabel>
        <p-multiSelect
          id="categories"
          [options]="categories"
          [(ngModel)]="selectedCategories"
          optionLabel="name"
          display="chip"
          [showClear]="true"
          [showToggleAll]="false"
          (onChange)="onCategoryChange()"
          styleClass="capitalize">
        </p-multiSelect>
        <label for="categories">Select Categories</label>
      </p-floatLabel>
    </div>

    <div class="p-col-12 field">
      <p-floatLabel>
        <textarea
          id="description"
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
          class="vertical-resize-only">
        </textarea>
        <label for="description">Description</label>
      </p-floatLabel>
    </div>
  </div>

  <div class="grid grid-nogutter justify-content-end mt-4 mb-4 md:mb-0">
    <div class="p-col-12 md:p-col-auto fixed-bottom-responsive-container justify-content-end">
      <p-button
        [raised]="true"
        severity="secondary"
        label="Continue"
        (onClick)="nextPage()">
        <ng-template pTemplate="icon">
          <rmx-icon
            class="mr-2"
            style="width: 16px; height: 16px"
            name="arrow-right-circle-line">
          </rmx-icon>
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
