<div class="content pFocusTrap mt-5 h-100">
  <div class="p-grid p-fluid column-gap-3">
    <div class="p-col-12 p-md-6 field flex flex-wrap gap-3 lg:gap-8 align-items-center justify-content-center">
      <div class="flex align-items-center">
        <p-radioButton
          name="event-type"
          value="1"
          [(ngModel)]="eventType"
          id="type-1"
          variant="filled" />
        <label for="type-1" class="ml-2">
          Public
        </label>
      </div>
      <div class="flex align-items-center">
        <p-radioButton
          name="event-type"
          value="2"
          [(ngModel)]="eventType"
          id="type-2"
          variant="filled" />
        <label for="type-2" class="ml-2">
          Semi-Public
        </label>
      </div>
      <div class="flex align-items-center">
        <p-radioButton
          name="event-type"
          value="3"
          [(ngModel)]="eventType"
          id="type-3"
          variant="filled" />
        <label for="type-3" class="ml-2">
          Private
        </label>
      </div>
    </div>

    <div class="p-col-12 p-md-6 field">

      <p-floatLabel>
        <input
          #eventTitleInput="ngModel"
          id="event-title"
          type="text"
          [maxLength]="50"
          required
          pInputText
          [(ngModel)]="eventTitle"
          [ngClass]="{ 'ng-invalid ng-dirty': (eventTitleInput.invalid && submitted) || (eventTitleInput.dirty && eventTitleInput.invalid || eventTitle.trim() === '' ) }"
        />
        <label for="event-title">Title</label>
      </p-floatLabel>
      <small *ngIf="(eventTitleInput.invalid && submitted) || (eventTitleInput.dirty && eventTitleInput.invalid || eventTitle.trim() === '')" class="p-error">
        Event title is required.
      </small>

    </div>

    <div class="p-col-12 p-md-6 field">
      <p-floatLabel>
        <p-multiSelect
          id="categories"
          [options]="categories"
          [(ngModel)]="selectedCategories"
          required
          optionLabel="name"
          display="chip"
          [showClear]="true"
          [showToggleAll]="false"
          (onChange)="onCategoryChange()"
          styleClass="capitalize"
          [ngClass]="{ 'ng-invalid ng-dirty': ( submitted) }"
        />
        <label for="categories">Select Categories</label>
      </p-floatLabel>
      <small *ngIf="selectedCategories?.length === 0 && submitted" class="p-error">
        At least one category must be selected.
      </small>
    </div>

    <div class="p-col-12 field">
      <p-floatLabel>
        <textarea
          #descriptionInput="ngModel"
          id="description"
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
          class="vertical-resize-only"
        >
        </textarea>
        <label for="description">Description</label>
      </p-floatLabel>
    </div>
  </div>

  <div class="flex fixed-bottom-responsive-container justify-content-end">
    <div class="justify-content-end">
      <p-button
        [raised]="true"
        severity="secondary"
        label="Continue"
        (onClick)="nextPage()">
        <ng-template pTemplate="icon">
          <rmx-icon
            class="mr-2"
            style="width: 16px; height: 16px"
            name="arrow-right-circle-line">
          </rmx-icon>
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
