<!--
<p-card class="p-3" [routerLink]="['/profile', userProfile.userId]">
  <div class="flex align-items-center">
    <img
      ngSrc=""
      alt="Profilbild"
      class="border-circle"
      style="width: 80px; height: 80px;"
      fill/>
    <div class="flex flex-column ml-3 flex-grow-1">
      <h3 class="mt-0 mb-1">{{ userProfile.firstName }}</h3>
      <p class="text-secondary mb-0">&#64;{{ userProfile.username }}</p>
    </div>
  </div>
</p-card>
 -->
<p-card class="p-3" [routerLink]="['/profile']">
  <div class="flex align-items-center">
    <img
      src="https://via.placeholder.com/100"
      alt=""
      class="border-circle"
      style="width: 70px; height: 70px;"
      />
    <div class="flex flex-column ml-3 flex-grow-1">
      <h3 class="mt-0 mb-1">Lina</h3>
      <p class="text-secondary mb-0">&#64;Lina23</p>
    </div>
    <rmx-icon name="arrow-right-s-line" class=""></rmx-icon>
  </div>
</p-card>
