@if (!skeleton) {
  <p-card
    class="p-3 cursor-pointer"
    [ngClass]="{ 'p-0': title }"
    [routerLink]="['/profile/' + userProfile.id]">
    @if (title) {
      <h3 class="mt-0">{{ title }}</h3>
    }
    <div class="flex align-items-center pr-3">
      <img
        [src]="userService.getImageFile(userProfile.profilePicture)"
        alt="profilbild"
        class="border-circle"
        style="width: 75px; height: 75px; object-fit: cover;" />
      <div class="flex flex-column ml-3 flex-grow-1">
        <div>
          <h3 class="mt-0 mb-0">
            <span>{{ userProfile.firstName }}</span>
            @if (showAge) {
              <span>, {{ userProfile.age }}</span>
            }
          </h3>
          <p class="text-secondary mt-0 mb-0">
            &#64;{{ userProfile.username }}
          </p>
        </div>
      </div>
      <rmx-icon
        name="arrow-right-s-line"
        style="height: 26px; width: 26px"
        class=""></rmx-icon>
    </div>
  </p-card>
} @else {
  <p-card class="p-3">
    <div class="flex align-items-center pr-3">
      <p-skeleton shape="circle" size="4rem" />
      <div class="flex flex-column ml-3 flex-grow-1">
        <div>
          <p-skeleton width="9rem" height="2rem" styleClass="mb-2" />
          <p-skeleton width="5rem" styleClass="mb-2" />
        </div>
      </div>
      <rmx-icon
        name="arrow-right-s-line"
        style="height: 26px; width: 26px"
        class=""></rmx-icon>
    </div>
  </p-card>
}
