<div class="mb-5">
  @if (events$ | async; as events) {
    @for (event of events; track $index) {
      <div
        class="col-12 sm:col-6 lg:col-4 flex justify-content-center mb-3">
        <app-event-card [event]="event" />
      </div>
    }
  } @else {
    <div class=" flex flex-column align-items-center text-center">
      <h3 class="text-lg font-bold mb-2">
        {{ 'myEventPageComponent.guest.text' | transloco }}
      </h3>
      <h4 class="text-base mb-2">{{ 'myEventPageComponent.guest.todo' | transloco }}</h4>
    </div>
  }
</div>
