<div class="grid justify-content-center">
  <!--TODO or has past events -->
  <div class="mb-3 mt-1 col-12 flex justify-content-center">
    <div class="w-12 md:w-7">
      <p-card styleClass="w-full">
        <ul class="list-none p-0 m-0 relative">
          @if (pushNotificationsRequests$ | async; as val) {
            @if (val != 0) {
              <span
                [style]="{
                  position: 'absolute',
                  right: '-20px',
                  top: '-35px',
                  'z-index': 1,
                  'min-width': '20px',
                  height: '20px',
                }"
                class="bg-blue-900 border-round-3xl border-blue-900 text-center text-white px-1 justify-content-center flex align-content-center align-items-center"
                >{{ val }}</span
              >
            }
          }
          <!-- Event Requests - temporary style solution -->
          <li
            class="p-3 py-0 w-full col-12 border-gray-50 flex justify-content-between align-items-center cursor-pointer"
            [routerLink]="['/' + AppRoutes.MY_EVENTS_REQUESTS]"
            [relativeTo]="route">
            <div class="flex align-items-center">
              <rmx-icon name="mail-send-line" class="mr-2"></rmx-icon>
              <span>{{
                'myEventPageComponent.guest.your-event-requests' | transloco
              }}</span>
            </div>
            <rmx-icon
              name="arrow-right-s-line"
              style="height: 26px; width: 26px" />
          </li>

          <!-- Past Events -->
        </ul>
      </p-card>
    </div>
  </div>
  <div class="col-12 grid">
    @if (filteredEvents$ | async; as events) {
      @if (pushNotificationsEvents$ | async; as push) {
        @if (events.length > 0 && !isLoading) {
          @for (event of events; track $index) {
            <div
              class="col-12 md:col-6 xl:col-4 justify-content-center mb-3 fadein animation-duration-300 animation-iteration-1">
              <app-event-card
                [event]="event"
                showEventStatus
                class="w-full"
                [badge]="push.get(event.id)" />
            </div>
          }
        }
      }
      @if (events.length == 0) {
        <div
          class="top-auto w-12 flex flex-column align-items-center text-center">
          <h3 class="text-lg font-bold mb-2">
            {{ 'myEventPageComponent.guest.text' | transloco }}
          </h3>
          <h4 class="text-base mb-2">
            {{ 'myEventPageComponent.guest.todo' | transloco }}
          </h4>
        </div>
      }
    } @else if (isLoading) {
      @for (event of [0, 1, 2, 3, 4]; track $index) {
        <div
          class="col-12 md:col-9 xl:col-4 flex justify-content-center mb-3 md:px-3">
          <app-event-card skeleton class="w-full" />
        </div>
      }
    } @else {
      <div
        class="top-auto w-12 flex flex-column align-items-center text-center">
        <h3 class="text-lg font-bold mb-2">
          {{ 'myEventPageComponent.guest.text' | transloco }}
        </h3>
        <h4 class="text-base mb-2">
          {{ 'myEventPageComponent.guest.todo' | transloco }}
        </h4>
      </div>
    }
  </div>
</div>
