<div class="grid flex justify-content-center">
  @if (hasRequests) {
    <!--TODO or has past events -->
    <div class="m-3 mb-8">
      <p-card>
        <ul class="list-none p-0 m-0 w-full">
          <!-- Event Requests -->
          @if (hasRequests) {
            <li
              class="p-3 pt-0 w-full col-12 border-bottom-1 border-gray-50 flex justify-content-between align-items-center cursor-pointer"
              [routerLink]="['my-requests']"
              [relativeTo]="route">
              <div class="flex align-items-center">
                <rmx-icon name="mail-send-line" class="mr-2"></rmx-icon>
                <span>{{
                  'myEventPageComponent.guest.your-event-requests' | transloco
                }}</span>
              </div>
              <rmx-icon
                name="arrow-right-s-line"
                style="height: 26px; width: 26px" />
            </li>
          }

          <!-- Past Events -->
        </ul>
      </p-card>
    </div>
  }

  @if (filteredEvents$ | async; as events) {
    @if (events.length > 0 && !isLoading) {
      @for (event of events; track $index) {
        <div
          class="col-12 sm:col-6 lg:col-4 justify-content-center mb-3 fadein animation-duration-300 animation-iteration-1">
          <app-event-card [event]="event" showEventStatus />
        </div>
      }
    }
  } @else if (isLoading) {
    @for (event of [0, 1, 2, 3, 4]; track $index) {
      <div
        class="col-12 md:col-9 xl:col-4 flex justify-content-center mb-3 md:px-3">
        <app-event-card skeleton />
      </div>
    }
  } @else {
    <div class="top-auto flex flex-column align-items-center text-center">
      <h3 class="text-lg font-bold mb-2">
        {{ 'myEventPageComponent.guest.text' | transloco }}
      </h3>
      <h4 class="text-base mb-2">
        {{ 'myEventPageComponent.guest.todo' | transloco }}
      </h4>
    </div>
  }
</div>
