<div class="flex justify-content-center align-items-center col-12 mt-4">
  <div class="grid w-full lg:w-10">
    @if (friends$ | async; as friends) {
      @if (friends.length <= 0) {
        <div class="col-12 mt-5">
          <p-card class="text-center mt-5">
            <div>
              <h2>{{ 'myFriends.emptyTitle' | transloco }}</h2>
              <p>{{ 'myFriends.emptyDetail' | transloco }}</p>
            </div>
          </p-card>
        </div>
      }
      @for (friend of friends; track $index) {
        <div class="col-12 -mb-5">
          <app-profile-card
            [userProfile]="friend"
            [imageUrl]="friend.imageUrl!"
            [showAge]="true">
          </app-profile-card>
        </div>
      }
    }
  </div>
</div>
