<div class="p-3">
  <h1>{{ 'generalTermsAndConditions.terms.title' | transloco }}</h1>

  <p>
    Tina Haser<br />
    Wiesenstra&szlig;e 3<br />
    35390 Gie&szlig;en
  </p>

  <h2>{{ 'generalTermsAndConditions.terms.contact.title' | transloco }}</h2>
  <p>
    {{ 'generalTermsAndConditions.terms.contact.phoneLabel' | transloco }}:
    12345678910<br />
    E-Mail: <span class="color-secondary">{{ 'connectu@business.com' }}</span>
  </p>

  <h2>
    {{
      'generalTermsAndConditions.terms.euDisputeResolution.title' | transloco
    }}
  </h2>
  <p>
    {{
      'generalTermsAndConditions.terms.euDisputeResolution.content' | transloco
    }}:
    <a
      class="color-secondary"
      href="https://ec.europa.eu/consumers/odr/"
      target="_blank"
      rel="noopener noreferrer"
      >https://ec.europa.eu/consumers/odr/</a
    >.<br />
    {{ 'generalTermsAndConditions.terms.euDisputeResolution.note' | transloco }}
  </p>

  <h2>
    {{
      'generalTermsAndConditions.terms.consumerDisputeResolution.title'
        | transloco
    }}
  </h2>
  <p>
    {{
      'generalTermsAndConditions.terms.consumerDisputeResolution.content'
        | transloco
    }}
  </p>

  <p>
    {{ 'generalTermsAndConditions.terms.source.content' | transloco }}:
    <a class="color-secondary" href="https://www.e-recht24.de">e-recht24.de</a>
  </p>
</div>
