<div class="p-3">
  <h1>{{ 'generalTermsAndConditions.terms.title' | transloco }}</h1>

  <p>{{ 'generalTermsAndConditions.terms.contact.responsible' | transloco }}</p>
  <ul>
    <li>Annalena Schäfer</li>
    <li>Jan Weiß</li>
    <li>Tina Haser</li>
    <li>Vincent Neeb</li>
  </ul>

  <p>
    Technische Hochschule Mittelhessen<br />
    Fachbereich Mathematik, Naturwissenschaften und Informatik<br />
    Wiesenstra&szlig;e 14<br />
    35390 Gie&szlig;en
  </p>

  <h2>{{ 'generalTermsAndConditions.terms.contact.title' | transloco }}</h2>
  <p>
    {{ 'generalTermsAndConditions.terms.contact.phoneLabel' | transloco }}:
    06413090<br />
    E-Mail: <span class="color-secondary">{{ 'tina.haser@mni.thm' }}</span>
  </p>

  <h2>
    {{
      'generalTermsAndConditions.terms.euDisputeResolution.title' | transloco
    }}
  </h2>
  <p>
    {{
      'generalTermsAndConditions.terms.euDisputeResolution.content' | transloco
    }}:
    <a
      class="color-secondary"
      href="https://ec.europa.eu/consumers/odr/"
      target="_blank"
      rel="noopener noreferrer"
      >https://ec.europa.eu/consumers/odr/</a
    >.<br />
    {{ 'generalTermsAndConditions.terms.euDisputeResolution.note' | transloco }}
  </p>

  <h2>
    {{
      'generalTermsAndConditions.terms.consumerDisputeResolution.title'
        | transloco
    }}
  </h2>
  <p>
    {{
      'generalTermsAndConditions.terms.consumerDisputeResolution.content'
        | transloco
    }}
  </p>

  <p>
    {{ 'generalTermsAndConditions.terms.source.content' | transloco }}:
    <a class="color-secondary" href="https://www.e-recht24.de">e-recht24.de</a>
  </p>
</div>
