<div>
  <h1>{{ 'privacyPolicy.title' | transloco }}</h1>

  <!-- Section 1 -->
  <h2>{{ 'privacyPolicy.section1.title' | transloco }}</h2>
  <h3>{{ 'privacyPolicy.section1.generalNotes.title' | transloco }}</h3>
  <p>
    {{ 'privacyPolicy.section1.generalNotes.content' | transloco }}
  </p>
  <h3>{{ 'privacyPolicy.section1.dataCollection.title' | transloco }}</h3>
  <h4>
    {{ 'privacyPolicy.section1.dataCollection.responsible.title' | transloco }}
  </h4>
  <p>
    {{
      'privacyPolicy.section1.dataCollection.responsible.content' | transloco
    }}
  </p>
  <h4>{{ 'privacyPolicy.section1.dataCollection.how.title' | transloco }}</h4>
  <p>
    {{ 'privacyPolicy.section1.dataCollection.how.content1' | transloco }}
  </p>
  <p>
    {{ 'privacyPolicy.section1.dataCollection.how.content2' | transloco }}
  </p>
  <h4>{{ 'privacyPolicy.section1.dataUsage.title' | transloco }}</h4>
  <p>
    {{ 'privacyPolicy.section1.dataUsage.content' | transloco }}
  </p>
  <h4>{{ 'privacyPolicy.section1.rights.title' | transloco }}</h4>
  <p>
    {{ 'privacyPolicy.section1.rights.content' | transloco }}
  </p>
  <p>
    {{ 'privacyPolicy.section1.rights.additionalInfo' | transloco }}
  </p>
  <h3>{{ 'privacyPolicy.section1.tools.title' | transloco }}</h3>
  <p>
    {{ 'privacyPolicy.section1.tools.content1' | transloco }}
  </p>
  <p>
    {{ 'privacyPolicy.section1.tools.content2' | transloco }}
  </p>

  <!-- Section 2 -->
  <h2>{{ 'privacyPolicy.section2.title' | transloco }}</h2>
  <p>{{ 'privacyPolicy.section2.hosting.intro' | transloco }}</p>
  <h3>{{ 'privacyPolicy.section2.externalHosting.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section2.externalHosting.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section2.externalHosting.content2' | transloco }}</p>
  <p>{{ 'privacyPolicy.section2.externalHosting.content3' | transloco }}</p>
  <p>{{ 'privacyPolicy.section2.externalHosting.host' | transloco }}</p>
  <h4>{{ 'privacyPolicy.section2.dataProcessing.title' | transloco }}</h4>
  <p>{{ 'privacyPolicy.section2.dataProcessing.content' | transloco }}</p>

  <!-- Section 3 -->
  <h2>{{ 'privacyPolicy.section3.title' | transloco }}</h2>
  <h3>{{ 'privacyPolicy.section3.dataProtection.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.dataProtection.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section3.dataProtection.content2' | transloco }}</p>
  <p>{{ 'privacyPolicy.section3.dataProtection.content3' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.responsibleParty.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.responsibleParty.intro' | transloco }}</p>
  <p>{{ 'privacyPolicy.section3.responsibleParty.details' | transloco }}</p>
  <p>{{ 'privacyPolicy.section3.responsibleParty.definition' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.storageDuration.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.storageDuration.content' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.legalBasis.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.legalBasis.content' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.recipients.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.recipients.content' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.withdrawal.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.withdrawal.content' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.objection.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.objection.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section3.objection.content2' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.complaint.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.complaint.content' | transloco }}</p>

  <h3>{{ 'privacyPolicy.section3.dataPortability.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section3.dataPortability.content' | transloco }}</p>

  <h3>
    {{ 'privacyPolicy.section3.accessCorrectionDeletion.title' | transloco }}
  </h3>
  <p>
    {{ 'privacyPolicy.section3.accessCorrectionDeletion.content' | transloco }}
  </p>

  <h3>
    {{ 'privacyPolicy.section3.processingRestriction.title' | transloco }}
  </h3>
  <p>{{ 'privacyPolicy.section3.processingRestriction.intro' | transloco }}</p>
  <ul>
    <li>
      {{
        'privacyPolicy.section3.processingRestriction.condition1' | transloco
      }}
    </li>
    <li>
      {{
        'privacyPolicy.section3.processingRestriction.condition2' | transloco
      }}
    </li>
    <li>
      {{
        'privacyPolicy.section3.processingRestriction.condition3' | transloco
      }}
    </li>
    <li>
      {{
        'privacyPolicy.section3.processingRestriction.condition4' | transloco
      }}
    </li>
  </ul>
  <p>
    {{ 'privacyPolicy.section3.processingRestriction.conclusion' | transloco }}
  </p>

  <!-- Section 4 -->
  <h2>{{ 'privacyPolicy.section4.title' | transloco }}</h2>
  <h3>{{ 'privacyPolicy.section4.cookies.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section4.cookies.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section4.cookies.content2' | transloco }}</p>
  <p>{{ 'privacyPolicy.section4.cookies.content3' | transloco }}</p>
  <p>{{ 'privacyPolicy.section4.cookies.content4' | transloco }}</p>
  <p>{{ 'privacyPolicy.section4.cookies.content5' | transloco }}</p>
  <p>{{ 'privacyPolicy.section4.cookies.content6' | transloco }}</p>

  <h2>{{ 'privacyPolicy.section5.title' | transloco }}</h2>

  <h3>{{ 'privacyPolicy.section5.googleFonts.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section5.googleFonts.content1' | transloco }}</p>
  <p>
    {{ 'privacyPolicy.section5.googleFonts.content2' | transloco }}
    <a
      class="color-secondary"
      href="https://developers.google.com/fonts/faq"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.googleFonts.link1' | transloco }}
    </a>
    {{ 'privacyPolicy.section5.googleFonts.and' | transloco }}
    <a
      class="color-secondary"
      href="https://policies.google.com/privacy?hl=de"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.googleFonts.link2' | transloco }} </a
    >.
  </p>

  <h3>{{ 'privacyPolicy.section5.fontAwesome.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section5.fontAwesome.content1' | transloco }}</p>
  <p>
    {{ 'privacyPolicy.section5.fontAwesome.content2' | transloco }}
    <a
      class="color-secondary"
      href="https://fontawesome.com/privacy"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.fontAwesome.link' | transloco }} </a
    >.
  </p>

  <h3>{{ 'privacyPolicy.section5.myFonts.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section5.myFonts.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section5.myFonts.content2' | transloco }}</p>
  <p>
    {{ 'privacyPolicy.section5.myFonts.content3' | transloco }}
    <a
      class="color-secondary"
      href="https://www.monotype.com/de/rechtshinweise/datenschutzrichtlinie/datenschutzrichtlinie-zum-tracking-von-webschriften"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.myFonts.link1' | transloco }} </a
    >.
  </p>
  <p>
    {{ 'privacyPolicy.section5.myFonts.content4' | transloco }}
    <a
      class="color-secondary"
      href="https://www.dataprivacyframework.gov/participant/6347"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.myFonts.link2' | transloco }} </a
    >.
  </p>

  <h3>{{ 'privacyPolicy.section5.googleMaps.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section5.googleMaps.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section5.googleMaps.content2' | transloco }}</p>
  <p>
    {{ 'privacyPolicy.section5.googleMaps.content3' | transloco }}
    <a
      class="color-secondary"
      href="https://privacy.google.com/businesses/gdprcontrollerterms/"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.googleMaps.link1' | transloco }}
    </a>
    {{ 'privacyPolicy.section5.googleMaps.and' | transloco }}
    <a
      class="color-secondary"
      href="https://privacy.google.com/businesses/gdprcontrollerterms/sccs/"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.googleMaps.link2' | transloco }} </a
    >.
  </p>
  <p>
    {{ 'privacyPolicy.section5.googleMaps.content4' | transloco }}
    <a
      class="color-secondary"
      href="https://policies.google.com/privacy?hl=de"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.googleMaps.link3' | transloco }} </a
    >.
  </p>
  <p>
    {{ 'privacyPolicy.section5.googleMaps.content5' | transloco }}
    <a
      class="color-secondary"
      href="https://www.dataprivacyframework.gov/participant/5780"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.section5.googleMaps.link4' | transloco }} </a
    >.
  </p>

  <h3>{{ 'privacyPolicy.section5.openStreetMap.title' | transloco }}</h3>
  <p>{{ 'privacyPolicy.section5.openStreetMap.content1' | transloco }}</p>
  <p>{{ 'privacyPolicy.section5.openStreetMap.content2' | transloco }}</p>
  <p>{{ 'privacyPolicy.section5.openStreetMap.content3' | transloco }}</p>

  <p>
    {{ 'privacyPolicy.source' | transloco }}
    <a
      class="color-secondary"
      href="https://www.e-recht24.de"
      target="_blank"
      rel="noopener noreferrer">
      {{ 'privacyPolicy.sourceLink' | transloco }} </a
    >.
  </p>
</div>
