<div class="">
  <div class="card">
    <p-tabMenu [model]="tabMenuItems" [activeItem]="tabMenuItems.at(0)" />
  </div>

  <!-- Filter -->
  @if(hasEvents){
    <div class="flex col-12 sm:col-6 md:col-5 lg:col-4">
      <p-multiSelect
        [options]="filterCategories"
        [(ngModel)]="selectedCategories"
        optionLabel="name"
        placeholder="Filter auswählen"
        display="comma"
        [showClear]="true"
        class="w-full"
      ></p-multiSelect>
    </div>
  }

  <!-- Tab Content -->
  <div class="grid justify-content-center mt-4">
    <div class="col-12 mb-6">
      @if (activeTab === 'gast') {
        <app-guest-events (hasEventsChange)="updateHasEvents($event)" [filters]="selectedCategories" />
      }
      @if (activeTab === 'erstellt') {
        <app-hosted-events (hasEventsChange)="updateHasEvents($event)" [filters]="selectedCategories" />
      }
      <!-- has to be implemented -->
      @if (activeTab === 'favorisiert') {
        <app-favorite-events />
      }
    </div>
  </div>
</div>
