<div>
  <div class="grid justify-content-center">
    <div class="col-10 sm:col-8 md:col-5 xl:col-3 flex justify-content-center">
      <p-image  alt="connect-u logo" src="https://placehold.co/320x60" class="w-full" styleClass="w-full" imageClass="w-full"/>
    </div>
  </div>
  <div class="grid justify-content-center">
    <div class="col-10 sm:col-8 md:col-5 xl:col-3 flex justify-content-center">
      <h2 class="text-center mt-2">Eventplanung leicht gemacht - für private Treffen oder öffentliche Events. <br> <span class="text-primary">Plane, Teile, Verbinde.</span> </h2>
    </div>
  </div>
  <div class="grid justify-content-center">
    <div class="col-10 sm:col-8 md:col-5 xl:col-3 flex justify-content-center">
      <app-login class="w-full"/>
    </div>
  </div>
</div>

