<div>
  <div class="grid justify-content-center">
    <div class="col-10 sm:col-8 md:col-5 xl:col-3 flex justify-content-center">
      <p-image
        [alt]="'landingPage.headerImageAlt' | transloco"
        src="./images/logo_full_dark.svg"
        class="w-full"
        styleClass="w-full"
        imageClass="w-full" />
    </div>
  </div>
  <div class="grid justify-content-center">
    <div class="col-10 sm:col-8 md:col-5 xl:col-3 flex justify-content-center">
      <h2 class="text-center mt-2">
        {{ 'landingPage.imageText.title' | transloco }} <br />
        <span class="text-color-secondary">{{
          'landingPage.imageText.subtitle' | transloco
        }}</span>
      </h2>
    </div>
  </div>
  <div class="grid justify-content-center">
    <div class="col-10 sm:col-8 md:col-5 xl:col-3 flex justify-content-center">
      <app-login class="w-full" />
    </div>
  </div>
</div>
