<p-card
  [header]="'cameraComponent.card-header' | transloco"
  class="w-full max-w-30rem mx-auto">
  <div class="grid">
    <!-- Video Section -->
    <div class="col-12">
      <div class="flex justify-content-center">
        <video
          class="w-20rem md:w-30rem h-auto border-round"
          id="video"
          autoplay
          [hidden]="loading"></video>
        @if (loading) {
          <p-skeleton
            width="20rem"
            height="20rem"
            styleClass="max-h-screen border-round"
            shape="rectangle"></p-skeleton>
        }
      </div>
    </div>

    <!-- Scan Help Text -->
    <div class="col-12 text-center mt-2">
      <p>{{ 'cameraComponent.scan-help' | transloco }}</p>
    </div>
  </div>
</p-card>
