<div class="content pFocusTrap mt-5">
  <div class="p-fluid">
    <!-- Date and Time Field -->
    <div class="field">
      <p-floatLabel>
        <p-calendar
          #dateAndTimeInput="ngModel"
          [(ngModel)]="dateAndTime"
          [showTime]="true"
          [hourFormat]="'24'"
          [showIcon]="true"
          [showOnFocus]="true"
          [minDate]="minDate"
          [firstDayOfWeek]="firstDayOfWeek"
          [dateFormat]="dateFormat"
          required
          id="date"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (dateAndTimeInput.invalid && submitted) ||
              (dateAndTimeInput.dirty && dateAndTimeInput.invalid),
          }">
          <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="calendar-line"
              (click)="clickCallBack($event)">
            </rmx-icon>
          </ng-template>
        </p-calendar>
        <label for="date">{{
          'createEventStep2Component.dateAndTimeInput.label' | transloco
        }}*</label>
      </p-floatLabel>
      @if (
        (dateAndTimeInput.invalid && submitted) ||
        (dateAndTimeInput.dirty && dateAndTimeInput.invalid)
      ) {
        <small class="p-error">
          {{
            'createEventStep2Component.dateAndTimeInput.errorMessage'
              | transloco
          }}
        </small>
      }
    </div>

    <!-- Address Section -->
    <h2>{{ 'createEventStep2Component.addressSection.title' | transloco }}</h2>
    <div class="field">
      <p-checkbox
        name="online"
        [label]="
          'createEventStep2Component.addressSection.onlineEventCheckbox'
            | transloco
        "
        [(ngModel)]="online"
        [binary]="true"
        id="online-true"
        variant="filled">
      </p-checkbox>
    </div>

    <div class="p-grid gap-2">
      <!-- Street and Street Number -->
      <div class="p-col-12 p-md-6 field">
        <p-floatLabel>
          <input
            #streetInput="ngModel"
            pInputText
            id="street"
            [(ngModel)]="street"
            [disabled]="online"
            [required]="!online"
            [ngClass]="{
          'ng-invalid ng-dirty':
            (!online && streetInput.invalid && submitted) ||
            (streetInput.dirty && streetInput.invalid),
        }" />
          <label for="street">{{
              'createEventStep2Component.addressSection.streetInput.label' | transloco
            }}*</label>
        </p-floatLabel>
        @if (
          (!online && streetInput.invalid && submitted) ||
          (streetInput.dirty && streetInput.invalid)
          ) {
          <small class="p-error">
            {{
              'createEventStep2Component.addressSection.streetInput.errorMessage'
                | transloco
            }}
          </small>
        }
      </div>
      <div class="p-col-12 p-md-6 field">
        <p-floatLabel>
          <input
            #streetNumberInput="ngModel"
            pInputText
            id="streetNumber"
            [(ngModel)]="streetNumber"
            [disabled]="online"
            [required]="!online"
            [ngClass]="{
          'ng-invalid ng-dirty':
            (!online && streetNumberInput.invalid && submitted) ||
            (streetNumberInput.dirty && streetNumberInput.invalid),
        }" />
          <label for="streetNumber">{{
              'createEventStep2Component.addressSection.streetNumberInput.label'
                | transloco
            }}*</label>
        </p-floatLabel>
        @if (
          (!online && streetNumberInput.invalid && submitted) ||
          (streetNumberInput.dirty && streetNumberInput.invalid)
          ) {
          <small class="p-error">
            {{
              'createEventStep2Component.addressSection.streetNumberInput.errorMessage'
                | transloco
            }}
          </small>
        }
      </div>

      <!-- ZIP Code and City -->
      <div class="p-col-12 p-md-4 field">
        <p-floatLabel>
          <input
            #zipCodeInput="ngModel"
            pInputText
            id="zipCode"
            [(ngModel)]="zipCode"
            [disabled]="online"
            [required]="!online"
            [pattern]="!online ? zipCodeRegex.source : ''"
            [ngClass]="{
          'ng-invalid ng-dirty':
            (!online && zipCodeInput.invalid && submitted) ||
            (zipCodeInput.dirty && zipCodeInput.invalid),
        }"
            (ngModelChange)="onZipCodeChange($event)" />
          <label for="zipCode">{{
              'createEventStep2Component.addressSection.zipCodeInput.label'
                | transloco
            }}*</label>
        </p-floatLabel>
        @if (!online && zipCodeInput.invalid && submitted) {
          <small class="p-error">
            {{
              'createEventStep2Component.addressSection.zipCodeInput.errorMessageRequired'
                | transloco
            }}
          </small>
        }
        @if (!online && zipCodeInput.errors?.['pattern'] && submitted) {
          <small class="p-error">
            {{
              'createEventStep2Component.addressSection.zipCodeInput.errorMessageInvalid'
                | transloco
            }}
          </small>
        }
      </div>
      <div class="p-col-12 p-md-8 field">
        <p-floatLabel>
          <p-autoComplete
            #cityInput="ngModel"
            inputId="city"
            id="city"
            [(ngModel)]="city"
            [disabled]="online"
            [required]="!online"
            [suggestions]="fetchedCities"
            (completeMethod)="searchCities($event)"
            [multiple]="false"
            [minLength]="3"
            [forceSelection]="true"
            [ngClass]="{
          'ng-invalid ng-dirty':
            (!online && cityInput.invalid && submitted) ||
            (cityInput.dirty && cityInput.invalid),
        }"></p-autoComplete>
          <label for="city">{{
              'createEventStep2Component.addressSection.cityInput.label' | transloco
            }}*</label>
        </p-floatLabel>
        @if (!online && cityInput.invalid && submitted) {
          <small class="p-error">
            {{
              'createEventStep2Component.addressSection.cityInput.errorMessage'
                | transloco
            }}
          </small>
        }
      </div>
    </div>

    <!-- Hide Address Section -->
    <div class="field flex align-items-center">
      <p-checkbox
        name="hideAddress"
        [label]="
          'createEventStep2Component.addressSection.hideAddressCheckbox'
            | transloco
        "
        [(ngModel)]="hideAddress"
        [disabled]="online"
        [binary]="true"
        id="hideAddress"
        variant="filled"
        class="mr-2">
      </p-checkbox>
      <p-button
        [rounded]="true"
        [text]="true"
        [pTooltip]="tooltipContent"
        tooltipPosition="right"
        severity="secondary"
        class="ml-2">
        <ng-template pTemplate="icon">
          <rmx-icon
            class="mr-2"
            style="width: 22px; height: 22px"
            name="information-2-line">
          </rmx-icon>
        </ng-template>
      </p-button>
      <ng-template #tooltipContent>
        <span>
          {{
            'createEventStep2Component.addressSection.hideAddressTooltip.content'
              | transloco
          }}
        </span>
      </ng-template>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <div
    class="flex justify-content-between align-items-center fixed-bottom-responsive-container">
    <p-button
      [raised]="true"
      [label]="'createEventStep2Component.navigationButtons.back' | transloco"
      (onClick)="prevPage()">
      <ng-template pTemplate="icon">
        <rmx-icon
          class="mr-2"
          style="width: 16px; height: 16px"
          name="arrow-left-circle-line">
        </rmx-icon>
      </ng-template>
    </p-button>
    <p-button
      [raised]="true"
      severity="secondary"
      [label]="
        'createEventStep2Component.navigationButtons.continue' | transloco
      "
      (onClick)="nextPage()">
      <ng-template pTemplate="icon">
        <rmx-icon
          class="mr-2"
          style="width: 16px; height: 16px"
          name="arrow-right-circle-line">
        </rmx-icon>
      </ng-template>
    </p-button>
  </div>

  <p-confirmDialog #cdDate>
    <ng-template pTemplate="headless" let-message>
      <div
        class="flex flex-column align-items-center p-5 surface-overlay border-round">
        <div
          class="inline-flex justify-content-center align-items-center h-6rem w-6rem">
          <rmx-icon
            class="text-6xl"
            style="height: 100px; width: 100px"
            name="alert-line">
          </rmx-icon>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4">
          {{ message.header }}
        </span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="flex align-items-center justify-content-between gap-3 mt-4">
          <p-button
            label="{{
              'createEventStep2Component.messages.dateConfirmationCancel'
                | transloco
            }}"
            (click)="cdDate.reject()"
            class="">
            <ng-template pTemplate="icon">
              <rmx-icon
                class="mr-2"
                style="width: 16px; height: 16px"
                name="arrow-go-back-line">
              </rmx-icon>
            </ng-template>
          </p-button>
          <p-button
            label="{{
              'createEventStep2Component.messages.dateConfirmationSubmit'
                | transloco
            }}"
            (click)="cdDate.accept()"
            severity="success"
            class="">
            <ng-template pTemplate="icon">
              <rmx-icon
                class="mr-2"
                style="width: 18px; height: 18px"
                name="check-line">
              </rmx-icon>
            </ng-template>
          </p-button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
