<div class="content">
  <div class="p-fluid">
    <div class="field">
      <p-floatLabel>
        <p-calendar
          [(ngModel)]="date"
          [showIcon]="true"
          [showOnFocus]="false"
          id="date">
          <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="calendar-line" (click)="clickCallBack($event)">
            </rmx-icon>
          </ng-template>
        </p-calendar>
        <label for="date">Date</label>
      </p-floatLabel>
    </div>

    <div class="field">
      <p-floatLabel>
        <p-calendar
          [(ngModel)]="time"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [timeOnly]="true"
          id="time">
          <ng-template pTemplate="time" let-clickCallBack="clickCallBack">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="time-line" (click)="clickCallBack($event)">
            </rmx-icon>
          </ng-template>
        </p-calendar>
        <label for="time">Time</label>
      </p-floatLabel>
    </div>

    <h2>Address</h2>

    <div class="field">
      <p-radioButton
        name="online"
        value="true"
        label="Online-Event"
        [(ngModel)]="online"
        id="online-true"
        variant="filled" />
    </div>

    <div class="field justify-content-between">
      <p-floatLabel>
        <input pInputText id="street" [(ngModel)]="street" />
        <label for="street">Street</label>
      </p-floatLabel>
      <p-floatLabel>
        <input pInputText id="hnr" [(ngModel)]="hnr" />
        <label for="hnr">HNr</label>
      </p-floatLabel>
    </div>

    <div class="field justify-content-between">
      <p-floatLabel>
        <input pInputText id="zipCode" [(ngModel)]="zipCode" />
        <label for="zipCode">ZIP Code</label>
      </p-floatLabel>
      <p-floatLabel>
        <input pInputText id="city" [(ngModel)]="city" />
        <label for="city">City</label>
      </p-floatLabel>
    </div>

    <div class="field">
      <p-radioButton
        name="hideAddress"
        value="true"
        label="Hide Address"
        aria-describedby="hideAddress-help"
        [(ngModel)]="hideAdress"
        id="hideAddress-true"
        variant="filled" />
      <small id="hideAddress-help">
        If selected, only Area Code and City are published.
      </small>
    </div>
  </div>

  <div class="grid grid-nogutter justify-content-between">
    <p-button
      [raised]="true"
      label="Back"
      (onClick)="prevPage()">
      <ng-template pTemplate="icon">
        <rmx-icon
          class="mr-2"
          style="width: 16px; height: 16px"
          name="arrow-left-circle-line">
        </rmx-icon>
      </ng-template>
    </p-button>
    <p-button
      [raised]="true"
      severity="secondary"
      label="Continue"
      (onClick)="nextPage()">
      <ng-template pTemplate="icon">
        <rmx-icon
          class="mr-2"
          style="width: 16px; height: 16px"
          name="arrow-right-circle-line">
        </rmx-icon>
      </ng-template>
    </p-button>
  </div>
</div>
