<div class="w-full">
  <p-toast [breakpoints]="{ '920px': { width: '90%', top: '30' } }" />
  <h2 id="login" class="w-full text-center">
    {{ 'loginComponent.title' | transloco }}
  </h2>
  <form
    autocomplete="off"
    (ngSubmit)="submitLogin()"
    [formGroup]="form"
    class="w-full"
    aria-labelledby="loginFormTitle">
    <div class="field w-full">
      <p-floatLabel>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          autocomplete="new-text"
          aria-autocomplete="none"
          class="w-full"
          aria-required="true"
          [attr.aria-invalid]="
            form.get('email')?.invalid && form.get('email')?.touched
          " />
        <label for="email">{{
          'loginComponent.eMailInput.label' | transloco
        }}</label>
      </p-floatLabel>
      @if (form.get('email')?.invalid && form.get('email')?.touched) {
        @if (form.get('email')?.errors?.['required']) {
          <small class="p-error">{{
            'loginComponent.eMailInput.requiredWarning' | transloco
          }}</small>
        }
        @if (form.get('email')?.errors?.['email']) {
          <small class="p-error">{{
            'loginComponent.eMailInput.validEmailWarning' | transloco
          }}</small>
        }
      }
    </div>

    <div class="field w-full">
      <p-floatLabel>
        <p-password
          id="password"
          formControlName="password"
          toggleMask
          [feedback]="false"
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          autocomplete="new-password"
          aria-autocomplete="none"
          aria-required="true"
          [attr.aria-invalid]="
            form.get('password')?.invalid && form.get('password')?.touched
          ">
          <span>
            <ng-template pTemplate="showicon">
              <rmx-icon
                name="eye-line"
                style="width: 16px; height: 16px"></rmx-icon>
            </ng-template>
            <ng-template pTemplate="hideicon">
              <rmx-icon
                name="eye-off-line"
                style="width: 16px; height: 16px"></rmx-icon>
            </ng-template>
          </span>
        </p-password>
        <label for="password">{{
          'loginComponent.passwordInput.label' | transloco
        }}</label>
      </p-floatLabel>
      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        @if (form.get('password')?.errors?.['required']) {
          <small class="p-error">{{
            'loginComponent.passwordInput.requiredWarning' | transloco
          }}</small>
        }
        @if (form.get('password')?.errors?.['minlength']) {
          <small class="p-error">{{
            'loginComponent.passwordInput.lengthWarning' | transloco
          }}</small>
        }
      }
    </div>
    <div class="grid justify-content-center mb-2">
      <div class="col-fixed w-max">
        <p-button type="submit" severity="success" [disabled]="form.invalid">
          {{ 'loginComponent.loginButtonLabel' | transloco }}
        </p-button>
      </div>
    </div>
  </form>
  <div class="flex justify-content-center">
    <span>
      {{ 'loginComponent.noAccountYet' | transloco }}
      <a
        (click)="toggleToRegister()"
        class="text-color-secondary no-underline cursor-pointer"
        >{{ 'loginComponent.registerLink' | transloco }}</a
      ></span
    >
  </div>
</div>
