<div class="w-full">
  <p-toast [breakpoints]="{ '920px': { width: '90%', top: '30' } }" />
  <h2 id="login" class="w-full text-center">
    {{ 'loginComponent.title' | transloco }}
  </h2>
  <form
    (ngSubmit)="submitLogin()"
    [formGroup]="form"
    class="w-full"
    aria-labelledby="loginFormTitle">
    <div class="field w-full">
      <label for="email" class="sr-only">{{
        'loginComponent.eMailInput.label' | transloco
      }}</label>
      <input
        id="email"
        type="email"
        pInputText
        formControlName="email"
        class="w-full"
        [placeholder]="'loginComponent.eMailInput.placeholder' | transloco"
        aria-required="true"
        [attr.aria-invalid]="
          form.get('email')?.invalid && form.get('email')?.touched
        " />
      @if (form.get('email')?.invalid && form.get('email')?.touched) {
        @if (form.get('email')?.errors?.['required']) {
          <small class="text-red-500">{{
            'loginComponent.eMailInput.requiredWarning' | transloco
          }}</small>
        }
        @if (form.get('email')?.errors?.['email']) {
          <small class="text-red-500">{{
            'loginComponent.eMailInput.validEmailWarning' | transloco
          }}</small>
        }
      }
    </div>

    <div class="field w-full">
      <label for="password" class="sr-only">{{
        'loginComponent.passwordInput.label' | transloco
      }}</label>
      <p-password
        id="password"
        formControlName="password"
        class="w-full"
        styleClass="w-full"
        inputStyleClass="w-full"
        [toggleMask]="true"
        [feedback]="false"
        [placeholder]="'loginComponent.passwordInput.placeholder' | transloco"
        inputId="password"
        aria-required="true"
        [attr.aria-invalid]="
          form.get('password')?.invalid && form.get('password')?.touched
        " />
      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        @if (form.get('password')?.errors?.['required']) {
          <small class="text-red-500">{{
            'loginComponent.passwordInput.requiredWarning' | transloco
          }}</small>
        }
        @if (form.get('password')?.errors?.['minlength']) {
          <small class="text-red-500">{{
            'loginComponent.passwordInput.lengthWarning' | transloco
          }}</small>
        }
      }
    </div>

    <button type="submit" class="sr-only" [disabled]="form.invalid">
      {{ 'loginComponent.loginButtonLabel' | transloco }}
    </button>
  </form>
  <div class="flex justify-content-center">
    <span>
      {{ 'loginComponent.noAccountYet' | transloco }}
      <a [routerLink]="['/register']" class="text-primary no-underline">{{
        'loginComponent.registerLink' | transloco
      }}</a></span
    >
  </div>
</div>
