<p-card [ngClass]="{ 'p-0': survey.title }">
  <div
    class="flex align-items-center justify-content-between pr-3 cursor-pointer"
    (click)="toggleExpand()">
    <!-- Title and Description -->
    <div class="flex flex-column flex-grow-1">
      <h4 class="mt-0 mb-0">
        <span>{{ survey.title }}</span>
      </h4>
      <p class="text-secondary mt-2 mb-2">
        {{ survey.description }}
      </p>
    </div>

    <!-- Toggle Icon -->
    <div class="ml-2">
      <rmx-icon
        [name]="expanded ? 'arrow-down-s-line' : 'arrow-right-s-line'"
        style="height: 26px; width: 26px; cursor: pointer">
      </rmx-icon>
    </div>
  </div>
  @if (expanded) {
    <div class="mt-3">
      @if (surveyDetail$ | async; as surveyDetail) {
        <ng-container>
          @for (entry of surveyDetail.surveyEntries; track $index) {
            <div class="mb-4 mt-3">
              <div class="flex align-items-center justify-content-between mb-2">
                <div class="flex align-items-center w-full">
                  <p-checkbox
                    [ngModel]="isUserInEntry(entry)"
                    binary="true"
                    class="p-checkbox-rounded mr-2 mt-3"
                    (click)="updateSurveyEntry(entry.id)">
                  </p-checkbox>
                  <div class="text-wrap flex-grow-1 mr-2 overflow-hidden" style="word-break: break-word;">
                    {{ entry.content }}
                  </div>
                </div>
                <div class="flex align-items-center">
                  <p-avatarGroup>
                    @for (user of entry.users.slice(0, 2); track $index) {
                      <ng-container>
                        <p-avatar
                          image="{{
                            userService.getImageFile(user.profilePicture)
                          }}"
                          shape="circle"
                          size="normal">
                        </p-avatar>
                      </ng-container>
                    }
                    @if (entry.users.length > 2) {
                      <p-avatar
                        [label]="'+' + (entry.users.length - 2)"
                        shape="circle"
                        size="normal"
                        styleClass="flex align-items-center justify-content-center">
                      </p-avatar>
                    }
                  </p-avatarGroup>
                </div>
              </div>
              <div>
                <p-progressBar
                  [value]="
                    votes > 0
                      ? Math.round((entry.users.length / votes) * 100)
                      : 0
                  "
                  [style]="{
                    height: '20px',
                    borderRadius: '40px',
                  }"
                  class="mt-3">
                </p-progressBar>
              </div>
            </div>
          }
        </ng-container>
        <div class="text-center mt-6">
          <p
            class="text-primary cursor-pointer"
            (click)="openSidebar(surveyDetail.surveyEntries)">
            {{ 'surveyCardPage.sidebarLink' | transloco }}
          </p>
        </div>
      } @else {
        <div class="flex justify-content-between mb-2">
          <div class="flex justify-content-start">
            <p-skeleton size="2rem" styleClass="mr-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
          </div>
          <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
        </div>
        <p-skeleton styleClass="mb-2" />

        <div class="mt-4">
          <div class="flex justify-content-between mb-2">
            <div class="flex justify-content-start">
              <p-skeleton size="2rem" styleClass="mr-2" />
              <p-skeleton width="10rem" styleClass="mb-2" />
            </div>
            <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
          </div>
          <p-skeleton styleClass="mb-2" />
        </div>
        <div class="flex justify-content-center mt-3">
          <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        </div>
      }
    </div>
  }
</p-card>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  [modal]="true"
  [style]="{ width: '300px' }">
  <div class="flex flex-column h-full">
    <h3 class="text-color-secondary">
      {{ 'surveyCardPage.sidebarTitle' | transloco }}
    </h3>

    <ul class="list-none p-0 flex-grow-1">
      @if (selectedSurveyEntries) {
        @for (entry of getSortedEntries(selectedSurveyEntries); track $index) {
          <li class="mb-3">
            <div class="flex align-items-center w-full">
              <p class="m-0 mt-3 text-wrap overflow-hidden" style="word-break: break-word;">
                <b>{{ entry.content }}</b>
              </p>
            </div>
            @if (entry.users.length > 0) {
              <div class="flex align-items-center mt-0">
                @if (entry.users.length === maxVotes(selectedSurveyEntries)) {
                  <rmx-icon
                    name="star-fill"
                    class="-mt-3"
                    style="color: gold; width: 16px; height: 16px; margin-right: 4px;">
                  </rmx-icon>
                }
                <p class="mt-0">
                  <small>
                    {{ 'surveyCardPage.votes' | transloco }}
                    {{ entry.users.length }}
                  </small>
                </p>
              </div>
            } @else {
              <p class="mt-0">{{ 'surveyCardPage.noVotes' | transloco }}</p>
            }
            <div class="avatar-group">
              @for (user of entry.users; track $index) {
                <div
                  class="flex align-items-center mb-2 cursor-pointer"
                  [routerLink]="['/profile/' + user.id]">
                  <p-avatar
                    [image]="userService.getImageFile(user.profilePicture)"
                    shape="circle"
                    size="normal"
                    class="mr-2">
                  </p-avatar>
                  <p class="text-primary mt-0 mb-0">{{ user.username }}</p>
                </div>
              }
            </div>
          </li>
        }
      }
    </ul>

    @if (survey.creator) {
      <div class="mt-auto">
        <h6 class="cursor-pointer text-center" (click)="deleteSurvey(survey.id)">
          <span class="p-error">{{
              'surveyCardPage.deleteSurvey' | transloco
            }}</span>
        </h6>
      </div>
    }
  </div>
</p-sidebar>
