<!-- PrimeNG Component Showcase -->
<main class="content">
  <h1>PrimeNG Component Design Showcase</h1>

  <section class="gap-3 flex-wrap mb-4 flex">
    <p-image src="images/logo_full_dark.svg" width="250" alt="Connect-U Logo" />
  </section>

  <!-- Headings + Text Showcase -->
  <section class="gap-3 mb-4">
    <h1>This is a h1. There should only be one of these on each page.</h1>
    <h2>This is a h2. And some longer.</h2>
    <h3>This is a h3. Lorem ipsum.</h3>
    <h4>This is a h4. Lorem Ipsum.</h4>
    <h5>This is a h5. Lorem Ipsum.</h5>
    <h6 class="color-secondary">This is a h6. Class is color-secondary</h6>
    <p>This is a paragraph, wrapped in &lt;p&gt;&lt;/p&gt;.</p>
  </section>

  <!-- Button Showcase -->
  <section class="gap-3 flex-wrap mb-4 flex">
    <h2>Buttons</h2>

    <div class="card flex flex-wrap gap-3 justify-content-center">
      <p-button [raised]="true" label="Primary Button" />
      <p-button [raised]="true" label="Secondary Button" severity="secondary" />
      <p-button [raised]="true" label="Success Button" severity="success" />
      <p-button [raised]="true" label="Info Button" severity="info" />
      <p-button [raised]="true" label="Warning Button" severity="warning" />
      <p-button [raised]="true" label="Danger Button" severity="danger" />
      <p-button
        [raised]="true"
        label="Primary Button"
        styleClass=""
        class="align-items-center">
        <ng-template pTemplate="icon">
          <rmx-icon
            class="mr-2"
            style="width: 16px; height: 16px"
            name="home-2-line"></rmx-icon>
        </ng-template>
      </p-button>
    </div>

    <div class="card">
      <div class="flex justify-content-center flex-wrap gap-3 mb-4">
        <p-button [raised]="true">
          <ng-template pTemplate="icon">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="check-line"></rmx-icon>
          </ng-template>
        </p-button>
        <p-button [raised]="true" severity="secondary">
          <ng-template pTemplate="icon">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="bookmark-line"></rmx-icon>
          </ng-template>
        </p-button>
        <p-button [raised]="true" severity="success">
          <ng-template pTemplate="icon">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="search-line"></rmx-icon>
          </ng-template>
        </p-button>
        <p-button [raised]="true" severity="info">
          <ng-template pTemplate="icon">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="user-3-line"></rmx-icon>
          </ng-template>
        </p-button>
        <p-button [raised]="true" severity="info">
          <ng-template pTemplate="icon">
            <rmx-icon
              style="width: 16px; height: 16px"
              name="heart-3-line"></rmx-icon>
          </ng-template>
        </p-button>
      </div>
    </div>
  </section>

  <!-- Card Showcase -->
  <section class="p-mt-4">
    <h2>Cards</h2>
    <p-card header="Card Header" subheader="Card Subheader" styleClass="p-mb-3">
      <p>This is a simple card to test the styling.</p>
    </p-card>
  </section>

  <!-- Input Fields Showcase -->
  <section class="p-mt-4">
    <h2>Input Fields</h2>

    <div class="card column-gap-3 flex">

      <p-floatLabel>
        <input id="firstname" type="text" pInputText [(ngModel)]="value" />
        <label for="firstname">First Name</label>
      </p-floatLabel>

      <p-iconField iconPosition="right">
        <p-inputIcon
          (click)="togglePasswordVisibility()"
          (keydown.enter)="togglePasswordVisibility()"
          (keydown.space)="togglePasswordVisibility()"
          tabindex="0"
          aria-label="Toggle password visibility">
          @if (passwordVisible) {
            <rmx-icon
              name="eye-off-line"
              style="width: 16px; height: 16px"></rmx-icon>
          } @else {
            <rmx-icon
              name="eye-line"
              style="width: 16px; height: 16px"></rmx-icon>
          }
        </p-inputIcon>

        <input
          [type]="passwordVisible ? 'text' : 'password'"
          pInputText
          placeholder="Password"
          [(ngModel)]="passwordValue" />
      </p-iconField>

      <input type="text" pInputText [disabled]="true" [(ngModel)]="value" />
    </div>
  </section>

  <section class="p-mt-4">
    <h2>Radio Buttons</h2>

    <div class="card flex justify-content-center gap-3">

      <!-- only one of them checked -->
      <div class="flex flex-row gap-3">
        <div *ngFor="let category of categories" class="field-checkbox">
          <p-radioButton
            variant="filled"
            [inputId]="category.key"
            name="category"
            [value]="category"
            [(ngModel)]="selectedCategory" />
          <label [for]="category.key" class="ml-2">
            {{ category.name }}
          </label>
        </div>
      </div>
    </div>
  </section>

  <section class="p-mt-4">
    <h2>Chips and Tags</h2>

    <div class="flex justify-content-center gap-3 mb-4">
      <p-floatLabel>
        <p-chips id="chips" [(ngModel)]="values" [max]="max" />
        <label for="chips">Chips</label>
      </p-floatLabel>
    </div>

    <div class="card flex justify-content-center gap-3">
      <p-tag value="Primary" [rounded]="true" />
      <p-tag severity="success" value="Success" [rounded]="true" />
      <p-tag severity="info" value="Info" [rounded]="true" />
      <p-tag severity="secondary" value="Secondary" [rounded]="true" />
      <p-tag severity="warning" value="Warning" [rounded]="true" />
      <p-tag severity="danger" value="Danger" [rounded]="true" />
      <p-tag severity="contrast" value="Contrast" [rounded]="true" />
    </div>
  </section>

  <section class="mt-4">
    <h2>Menues</h2>

    <div class="card">
      <p-toast />
      <p-steps
        [model]="stepsMenuItems"
        [readonly]="false"
        [activeIndex]="activeIndex"
        (activeIndexChange)="onActiveIndexChange($event)" />
    </div>

    <div class="card mt-2">
      <p-tabMenu [model]="tabMenuItems" />
    </div>
  </section>

  <section class="mt-4">
      <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="w-14rem" />
  </section>

</main>
