<div class="p-fluid p-3">
  <p-toast [breakpoints]="{ '920px': { width: '90%', top: '30' } }" />
  <!-- Benutzerinformationen -->
  <div class="grid">
    <div class="col-12 lg:col-6 md:col-8 sm:col-12 mx-auto">
      <h3 class="mb-4">{{ 'accountPage.headlines.userData' | transloco }}</h3>
      <form (ngSubmit)="submitAccountUpdate()" [formGroup]="accountForm">
        <!-- Benutzerinformationen -->
        <div class="field">
          <p-floatLabel>
            <input
              id="username"
              type="text"
              pInputText
              formControlName="username"
              aria-required="true"
              [attr.aria-invalid]="
                accountForm.get('username')?.invalid &&
                accountForm.get('username')?.touched
              " />
            <label for="username">{{
              'accountPage.placeholder.username' | transloco
            }}</label>
          </p-floatLabel>
          @if (
            accountForm.get('username')?.invalid &&
            accountForm.get('username')?.touched
          ) {
            @if (accountForm.get('username')?.errors?.['required']) {
              <small class="p-error">{{
                'registerComponent.usernameInput.requiredWarning' | transloco
              }}</small>
            }
            @if (accountForm.get('username')?.errors?.['minlength']) {
              <small class="p-error">{{
                'registerComponent.usernameInput.lengthWarning' | transloco
              }}</small>
            }
            @if (accountForm.get('username')?.errors?.['maxlength']) {
              <small class="p-error">{{
                'registerComponent.usernameInput.maxLengthWarning' | transloco
              }}</small>
            }
          }
        </div>
        <div class="field">
          <p-floatLabel>
            <input
              id="email"
              type="email"
              pInputText
              formControlName="email"
              aria-required="true"
              [attr.aria-invalid]="
                accountForm.get('email')?.invalid &&
                accountForm.get('email')?.touched
              " />
            <label for="email">{{
              'accountPage.placeholder.email' | transloco
            }}</label>
          </p-floatLabel>
          @if (
            accountForm.get('email')?.invalid &&
            accountForm.get('email')?.touched
          ) {
            @if (accountForm.get('email')?.errors?.['required']) {
              <small class="p-error">{{
                'registerComponent.emailInput.requiredWarning' | transloco
              }}</small>
            }
            @if (accountForm.get('email')?.errors?.['email']) {
              <small class="p-error">{{
                'registerComponent.emailInput.validEmailWarning' | transloco
              }}</small>
            }
          }
        </div>
        <div class="field">
          <p-floatLabel>
            <input
              id="firstName"
              type="text"
              pInputText
              formControlName="firstName"
              aria-required="true"
              [attr.aria-invalid]="
                accountForm.get('firstName')?.invalid &&
                accountForm.get('firstName')?.touched
              " />
            <label for="firstName">{{
              'accountPage.placeholder.firstname' | transloco
            }}</label>
          </p-floatLabel>
          @if (
            accountForm.get('firstName')?.invalid &&
            accountForm.get('firstName')?.touched
          ) {
            @if (accountForm.get('firstName')?.errors?.['required']) {
              <small class="p-error">{{
                'registerComponent.firstnameInput.requiredWarning' | transloco
              }}</small>
            }
            @if (accountForm.get('firstName')?.errors?.['minlength']) {
              <small class="p-error">{{
                'registerComponent.firstnameInput.lengthWarning' | transloco
              }}</small>
            }
            @if (accountForm.get('firstName')?.errors?.['maxlength']) {
              <small class="p-error">{{
                'registerComponent.firstnameInput.maxLengthWarning' | transloco
              }}</small>
            }
          }
        </div>
        <div class="field">
          <p-floatLabel>
            <input
              id="lastName"
              type="text"
              pInputText
              formControlName="lastName"
              aria-required="true"
              [attr.aria-invalid]="
                accountForm.get('lastName')?.invalid &&
                accountForm.get('lastName')?.touched
              " />
            <label for="lastName">{{
              'accountPage.placeholder.lastname' | transloco
            }}</label>
          </p-floatLabel>
          @if (
            accountForm.get('lastName')?.invalid &&
            accountForm.get('lastName')?.touched
          ) {
            @if (accountForm.get('lastName')?.errors?.['required']) {
              <small class="p-error">{{
                'registerComponent.lastnameInput.requiredWarning' | transloco
              }}</small>
            }
            @if (accountForm.get('lastName')?.errors?.['maxlength']) {
              <small class="p-error">{{
                'registerComponent.lastnameInput.maxLengthWarning' | transloco
              }}</small>
            }
          }
        </div>
        <div class="field">
          <p-floatLabel>
            <input
              pInputText
              id="gender"
              formControlName="gender"
              class="p-disabled"
              placeholder="Geschlecht" />
            <label for="gender">{{
              'accountPage.placeholder.gender' | transloco
            }}</label>
          </p-floatLabel>
          <p-button
            [rounded]="true"
            [text]="true"
            [pTooltip]="tooltipContent"
            tooltipPosition="bottom"
            severity="secondary">
            <ng-template pTemplate="icon">
              <rmx-icon
                class="mr-2"
                style="width: 22px; height: 22px"
                name="information-2-line">
              </rmx-icon>
            </ng-template>
          </p-button>
          <ng-template #tooltipContent>
            <div class="flex align-items-center">
              <span>
                <strong
                  >{{ 'accountPage.information.title' | transloco }}:</strong
                >
                {{ 'accountPage.information.text' | transloco }}
                <strong>
                  {{ 'accountPage.information.team' | transloco }}
                </strong>
              </span>
            </div>
          </ng-template>
        </div>

        <!-- Passwort ändern Button -->
        <div class="field flex justify-content-end mt-4">
          <p-button
            label="{{ 'accountPage.button.password' | transloco }}"
            severity="secondary"
            (click)="showPasswordModal()"></p-button>
        </div>

        <!-- Passwort ändern Modal -->
        <p-dialog
          header="{{ 'accountPage.passwordForm.title' | transloco }}"
          [(visible)]="passwordModalVisible"
          [modal]="true"
          [style]="{ width: '400px' }"
          [breakpoints]="{ '960px': '90vw', '640px': '95vw' }">
          <form (ngSubmit)="submitPasswordChange()" [formGroup]="passwordForm">
            <div class="field">
              <p-floatLabel>
                <p-password
                  id="oldPassword"
                  toggleMask
                  [feedback]="false"
                  formControlName="oldPassword">
                  <span>
                    <ng-template pTemplate="showicon">
                      <rmx-icon
                        name="eye-line"
                        style="width: 16px; height: 16px"></rmx-icon>
                    </ng-template>
                    <ng-template pTemplate="hideicon">
                      <rmx-icon
                        name="eye-off-line"
                        style="width: 16px; height: 16px"></rmx-icon>
                    </ng-template>
                  </span>
                </p-password>
                <label for="oldPassword">{{
                  'accountPage.passwordForm.oldPassword' | transloco
                }}</label>
              </p-floatLabel>
              @if (
                passwordForm.get('oldPassword')?.invalid &&
                passwordForm.get('oldPassword')?.touched
              ) {
                @if (passwordForm.get('oldPassword')?.errors?.['required']) {
                  <small class="p-error">{{
                    'accountPage.passwordForm.warnings.oldPasswordRequired'
                      | transloco
                  }}</small>
                }
              }
            </div>
            <div class="field">
              <p-floatLabel>
                <p-password
                  id="newPassword"
                  type="password"
                  toggleMask
                  [feedback]="false"
                  formControlName="newPassword">
                  <span>
                    <ng-template pTemplate="showicon">
                      <rmx-icon
                        name="eye-line"
                        style="width: 16px; height: 16px"></rmx-icon>
                    </ng-template>
                    <ng-template pTemplate="hideicon">
                      <rmx-icon
                        name="eye-off-line"
                        style="width: 16px; height: 16px"></rmx-icon>
                    </ng-template>
                  </span>
                </p-password>
                <label for="newPassword">{{
                  'accountPage.passwordForm.newPassword' | transloco
                }}</label>
              </p-floatLabel>
              @if (
                passwordForm.get('newPassword')?.invalid &&
                passwordForm.get('newPassword')?.touched
              ) {
                @if (passwordForm.get('newPassword')?.errors?.['required']) {
                  <small class="p-error">{{
                    'accountPage.passwordForm.warnings.newPasswordRequired'
                      | transloco
                  }}</small>
                }
                @if (passwordForm.get('newPassword')?.errors?.['minlength']) {
                  <small class="p-error">{{
                    'accountPage.passwordForm.warnings.newPasswordMinLength'
                      | transloco
                  }}</small>
                }
              }
            </div>
            <div class="field">
              <p-floatLabel>
                <p-password
                  id="newPasswordConfirm"
                  type="password"
                  toggleMask
                  [feedback]="false"
                  formControlName="newPasswordConfirm">
                  <span>
                    <ng-template pTemplate="showicon">
                      <rmx-icon
                        name="eye-line"
                        style="width: 16px; height: 16px"></rmx-icon>
                    </ng-template>
                    <ng-template pTemplate="hideicon">
                      <rmx-icon
                        name="eye-off-line"
                        style="width: 16px; height: 16px"></rmx-icon>
                    </ng-template>
                  </span>
                </p-password>
                <label for="newPasswordConfirm">{{
                  'accountPage.passwordForm.confirmPassword' | transloco
                }}</label>
              </p-floatLabel>
              @if (
                passwordForm.get('newPasswordConfirm')?.invalid &&
                passwordForm.get('newPasswordConfirm')?.touched
              ) {
                @if (
                  passwordForm.get('newPasswordConfirm')?.errors?.['required']
                ) {
                  <small class="p-error">{{
                    'accountPage.passwordForm.warnings.confirmPasswordRequired'
                      | transloco
                  }}</small>
                }
                @if (
                  passwordForm.get('newPasswordConfirm')?.errors?.['minlength']
                ) {
                  <small class="p-error">{{
                    'accountPage.passwordForm.warnings.confirmPasswordMinLength'
                      | transloco
                  }}</small>
                }
              }
            </div>
            <div class="flex justify-content-end mb-3">
              <p-button
                label="{{ 'accountPage.button.save' | transloco }}"
                type="submit"
                severity="success"
                [disabled]="passwordForm.invalid"></p-button>
            </div>
          </form>
        </p-dialog>

        <!-- Adressinformationen -->
        <h3 class="text-left mt-4">
          {{ 'accountPage.headlines.location' | transloco }}
        </h3>
        <div class="grid">
          <div class="col-12 lg:col-6">
            <p-floatLabel>
              <input
                id="street"
                type="text"
                pInputText
                formControlName="street" />
              <label for="street">{{
                'accountPage.placeholder.street' | transloco
              }}</label>
            </p-floatLabel>
            @if (accountForm.get('street')?.errors?.['required']) {
              <small class="p-error">{{
                'accountPage.adressForm.warnings.house' | transloco
              }}</small>
            }
          </div>
          <div class="col-12 lg:col-6">
            <p-floatLabel>
              <input
                id="streetNumber"
                type="text"
                pInputText
                formControlName="streetNumber" />
              <label for="streetNumber">{{
                'accountPage.placeholder.houseNr' | transloco
              }}</label>
            </p-floatLabel>
            @if (accountForm.get('streetNumber')?.errors?.['required']) {
              <small class="p-error">{{
                'accountPage.adressForm.warnings.house' | transloco
              }}</small>
            }
          </div>
          <div class="col-12 lg:col-6">
            <p-floatLabel>
              <input
                id="zipCode"
                type="text"
                pInputText
                formControlName="zipCode" />
              <label for="zipCode">{{
                'accountPage.placeholder.zipCode' | transloco
              }}</label>
            </p-floatLabel>
            @if (accountForm.get('zipCode')?.errors?.['required']) {
              <small class="p-error">{{
                'accountPage.adressForm.warnings.zipCode' | transloco
              }}</small>
            }
          </div>
          <div class="col-12 lg:col-6">
            <p-floatLabel>
              <input id="city" type="text" pInputText formControlName="city" />
              <label for="city">{{
                'accountPage.placeholder.city' | transloco
              }}</label>
            </p-floatLabel>
            @if (accountForm.get('city')?.errors?.['required']) {
              <small class="p-error">{{
                'accountPage.adressForm.warnings.city' | transloco
              }}</small>
            }
          </div>
        </div>

        <!-- Fehlermeldung für Adresse -->
        @if (
          accountForm.get('street')?.errors?.['required'] ||
          accountForm.get('streetNumber')?.errors?.['required'] ||
          accountForm.get('zipCode')?.errors?.['required'] ||
          accountForm.get('city')?.errors?.['required']
        ) {
          <div class="p-error mt-2">
            {{ 'accountPage.adressForm.warnings.requirements' | transloco }}
          </div>
        }

        <div class="field flex justify-content-end mt-4">
          <p-button
            label="{{ 'accountPage.button.save' | transloco }}"
            severity="success"
            type="submit"
            [disabled]="accountForm.invalid" />
        </div>
      </form>
    </div>
  </div>
</div>
