<p-toast [breakpoints]="{ '920px': { width: '90%', top: '30' } }" />

<!-- Display tabs if logged in and user is host or guest -->
@if (isLoggedIn && (isHost || isGuest)) {
  <div class="card">
    <p-tabMenu [model]="eventTabMenuItems">
      <ng-template pTemplate="item" let-item>
        <ng-container>
          <a
            [routerLink]="item.route"
            [state]="item.state"
            class="p-menuitem-link"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>
      </ng-template>
    </p-tabMenu>
  </div>
}

<!-- Display the event info if not logged in or not a participant -->
@if ((!isLoggedIn || (!isHost && !isGuest)) && (eventDetails$)) {
  <app-event-info
    [eventDetails]="eventDetails$"
    [getPreferredGendersString]="getPreferredGendersString">
  </app-event-info>
}
