<p-dialog
  [(visible)]="showInviteModal"
  modal
  [header]="'eventPageComponent.friends.inviteFriends' | transloco"
  [draggable]="false"
  contentStyleClass="border-round"
  class="p-fluid w-full md:w-30rem h-10rem"
  (onHide)="onInviteDialogClose()">
  <div
    class="p-fluid w-full md:w-30rem h-auto p-multiselect-container border-round p-component p-filled mt-2 mb-2">
    <!-- Header / Selected Friends -->
    <div class="p-fluid h-3rem">
      @if (selectedFriends.length > 0) {
        <p-chips
          [(ngModel)]="selectedFriends"
          field="firstName"
          showClear="true"
          [addOnTab]="false"
          [addOnBlur]="false"
          [inputStyle]="{ display: 'none' }"
          [placeholder]="'eventPageComponent.friends.selectFriends' | transloco"
          (ngModelChange)="onSelectedFriendsChange()">
        </p-chips>
      } @else {
        <div class="p-chips-placeholder flex align-items-center h-3rem">
          <span>{{
            'eventPageComponent.friends.selectFriends' | transloco
          }}</span>
        </div>
      }
    </div>

    <p-listbox
      [options]="friends"
      [(ngModel)]="selectedFriends"
      [multiple]="true"
      [filter]="true"
      optionLabel="firstName"
      class="w-100"
      [listStyle]="{ 'max-height': '250px' }"
      (onChange)="checkMaxSelection($event)">
      <ng-template let-friend pTemplate="item">
        <div
          class="inline-flex items-center gap-2 px-2 py-2 cursor-pointer border-bottom">
          <img
            [src]="userService.getImageFile(friend.profilePicture)"
            alt="profilbild"
            class="border-circle"
            style="width: 35px; height: 35px" />
          <div>
            <span class="font-medium"
              ><strong>{{ friend.firstName }}</strong></span
            >
            <div class="text-sm">&#64;{{ friend.username }}</div>
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      [raised]="true"
      severity="success"
      [label]="'eventPageComponent.friends.sendInvites' | transloco"
      class="align-items-center"
      [disabled]="selectedFriends.length === 0"
      (onClick)="sendInvites()">
      <ng-template pTemplate="icon">
        <rmx-icon
          class="mr-2"
          style="width: 16px; height: 16px"
          name="check-line">
        </rmx-icon>
      </ng-template>
    </p-button>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="notLoggedInDialogVisible"
  [contentStyle]="{ overflow: 'visible' }"
  contentStyleClass="border-round"
  [showHeader]="false"
  [draggable]="false"
  [focusOnShow]="false"
  modal
  [closeOnEscape]="false"
  [closable]="false"
  [style]="{ width: '45rem' }">
  <div class="py-4">
    @if (loginRegisterSwitch) {
      <app-login
        [redirectTo]="'/event/' + eventId"
        (toggleView)="toggleLoginRegisterSwitch()"
        class="w-full" />
    } @else {
      <app-register (toggleView)="toggleLoginRegisterSwitch()" class="w-full" />
    }
  </div>
</p-dialog>

<!-- Display tabs if user is host or guest -->
@if (
  eventDetails &&
  (eventDetails.isHost || eventDetails.isParticipant) &&
  !url.includes('/requests') &&
  !url.includes('/guests')
) {
  <p-tabMenu
    [model]="eventTabMenuItems"
    [(activeItem)]="activeTabItem"
    (activeItemChange)="onActiveItemChange($event)">
    <ng-template pTemplate="item" let-item>
      <ng-container>
        <a
          [routerLink]="item.route"
          [state]="item.state"
          class="p-menuitem-link">
          <!-- Add icon explicitly -->
          <rmx-icon
            style="width: 16px; height: 16px; margin-right: 8px"
            [name]="item.icon"></rmx-icon>
          <span class="hidden md:block">{{ item.label }}</span>
        </a>
      </ng-container>
    </ng-template>
  </p-tabMenu>
}

<!-- Display the event info if not logged in or not a participant -->
@if (
  eventDetails &&
  ((activeTabItem && activeTabItem.id == 'infoTab') ||
    (!eventDetails.isHost && !eventDetails.isParticipant)) &&
  !url.includes('/requests') &&
  !url.includes('/guests') &&
  !url.includes('/lists') &&
  !url.includes('/surveys') &&
  !url.includes('/chat')
) {
  <app-event-info
    [getPreferredGendersString]="getPreferredGendersString"
    [eventRequestsHost]="eventRequestsHost"
    (eventDetailsUpdated)="onEventDetailsUpdated()">
  </app-event-info>
}

<router-outlet></router-outlet>
