<div class="content flex align-items-center justify-content-center h-30rem">
  <div class="text-center">
    <h2>{{ '404.page-not-found' | transloco }}</h2>
    <p>{{ '404.page-not-found-detail' | transloco }}</p>

    <p-button
      label="{{ '404.back-to-home' | transloco }}"
      routerLink="/"
      class="mt-3">
      <ng-template pTemplate="icon">
        <rmx-icon
          class="mr-2"
          style="width: 16px; height: 16px"
          name="arrow-go-back-line">
        </rmx-icon>
      </ng-template>
    </p-button>
  </div>
</div>
