<div class="pt-2 grid justify-content-center">
  <div class="col-12 flex justify-content-center">
    <div class="w-12 sm:w-10 md:w-8 md:w-7 xl:w-6 grid">
      @if (listDetail$ | async; as listDetail) {
        <div class="col-12">
          <div class="grid">
            <div class="col flex align-items-center">
              <span class="font-bold text-xl block">{{
                listDetail.title
              }}</span>
            </div>
            <div class="col-fixed w-max hidden md:block">
              <form [formGroup]="form" (submit)="handleSubmit($event)">
                <p-inputGroup styleClass="w-full flex justify-content-end">
                  <input
                    class="w-full"
                    #createListEntryInputA
                    formControlName="content"
                    (blur)="hideCreateInput()"
                    [maxLength]="255"
                    type="text"
                    pInputText
                    [class]="createInputVisible ? '' : 'hidden'" />
                  <p-button
                    (onClick)="handleClickCreateButton()"
                    raised
                    severity="success"
                    [type]="createInputVisible ? 'submit' : 'button'"
                    [styleClass]="
                      createInputVisible ? 'border-noround-left' : ''
                    ">
                    <ng-template pTemplate="icon">
                      <rmx-icon name="add-circle-line" />
                    </ng-template>
                  </p-button>
                </p-inputGroup>
              </form>
            </div>
            <div class="col-fixed w-min">
              <p-button disabled raised text severity="danger">
                <ng-template pTemplate="icon">
                  <rmx-icon name="delete-bin-line" />
                </ng-template>
              </p-button>
            </div>
          </div>
        </div>
        <div class="col-12">
          {{ listDetail.description }}
        </div>
      } @else {
        <div class="col-12">
          <div class="grid">
            <div class="col flex align-items-center">
              <p-skeleton width="7rem" height="2rem" styleClass="mb-2" />
            </div>
            <div class="col-fixed w-max hidden md:block">
              <form>
                <p-button
                  disabled
                  raised
                  severity="success"
                  [type]="createInputVisible ? 'submit' : 'button'">
                  <ng-template pTemplate="icon">
                    <rmx-icon name="add-circle-line" />
                  </ng-template>
                </p-button>
              </form>
            </div>
            <div class="col-fixed w-min">
              <p-button disabled text raised severity="danger">
                <ng-template pTemplate="icon">
                  <rmx-icon name="delete-bin-line" />
                </ng-template>
              </p-button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p-skeleton width="9rem" />
        </div>
      }
    </div>
  </div>
  <div class="col-12 flex justify-content-center mb-6">
    <div class="w-12 sm:w-10 md:w-8 md:w-7 xl:w-6 grid gap-2">
      @if (listDetail$ | async; as listDetail) {
        @for (listEntry of listDetail.listEntries; track listEntry.id) {
          <div class="col-12 px-3">
            <div class="custom-card-container grid">
              <div
                class="col-fixed w-min flex justify-content-center align-content-center">
                <p-checkbox
                  binary
                  variant="filled"
                  [ngModel]="!!listEntry.user"
                  (click)="handleCheckboxChange(listEntry)" />
              </div>
              <div class="col flex align-items-center">
                <span>{{ listEntry.content }}</span>
              </div>
              <div
                class="col-fixed w-min flex align-items-center align-content-center">
                <span class="mr-2">{{ listEntry.user?.username }}</span>
                <img
                  ngSrc="/images/userImg.png"
                  alt="profile picture"
                  class="border-circle"
                  width="35"
                  height="35" />
              </div>
              <div class="col-fixed w-min flex align-items-center">
                <p-button disabled text severity="danger">
                  <ng-template pTemplate="icon">
                    <rmx-icon name="delete-bin-line" />
                  </ng-template>
                </p-button>
              </div>
            </div>
          </div>
        }
      } @else {
        @for (listEntry of [0, 1, 2]; track $index) {
          <div class="col-12">
            <div class="custom-card-container grid">
              <div
                class="col-fixed w-min flex justify-content-center align-items-center">
                <p-skeleton size="1.5rem" />
              </div>
              <div class="col flex align-items-center">
                <p-skeleton width="5rem" />
              </div>
              <div class="col-fixed w-min flex align-items-center">
                <p-skeleton shape="circle" size="2rem" />
              </div>
              <div class="col-fixed w-min flex align-items-center">
                <p-skeleton size="2rem" styleClass="mr-2" />
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
  <div class="col-12 flex justify-content-center md:hidden">
    <div class="w-12 sm:w-10 md:w-8 md:w-7 xl:w-6 grid">
      <div class="col-12">
        <div class="grid justify-content-end">
          <div
            class="col-12 sm:col-10 md:col-5 pl-4 sm:pl-3 fixed"
            style="bottom: 85px">
            <form [formGroup]="form" (submit)="handleSubmit($event)">
              <p-inputGroup styleClass="w-full flex justify-content-end">
                <input
                  class="w-full"
                  #createListEntryInputB
                  formControlName="content"
                  (blur)="hideCreateInput()"
                  [maxLength]="255"
                  type="text"
                  pInputText
                  [class]="createInputVisible ? '' : 'hidden'" />
                <p-button
                  (onClick)="handleClickCreateButton()"
                  raised
                  severity="success"
                  [style]="{ height: '45px', width: '45px' }"
                  [type]="createInputVisible ? 'submit' : 'button'"
                  [styleClass]="
                    createInputVisible ? 'border-noround-left' : ''
                  ">
                  <ng-template pTemplate="icon">
                    <rmx-icon
                      name="add-circle-line"
                      style="height: 40px; width: 40px" />
                  </ng-template>
                </p-button>
              </p-inputGroup>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
